{% extends "layout/subpage.html" %}

{% block content %}
<style>
    ul {
        font-size: 14;
    }
</style>

<div>
    <b><i><h1>Bioreactor Design and Upscaling</h1></i></b><br>
    {{ subheading("Summary") }} <br>
    <p>
        The final step in our process design is the metabolism of methanol into biomass or other value-added
        chemicals.
        As such, we require a fermenter to house our engineered E. coli strain. Given the potentially harsh
        conditions
        near a landfill, and having identified potential regulatory issues by using a fermenter as part of a
        landfill
        gas treatment strategy, we have decided any such fermenter must be bespoke and custom-made. Furthermore, we
        intended to model our fermenter with the BioWin process simulation package; unfortunately, we were unable to
        carry this out as we lack requisite process kinetics data.
    </p>
</div>
<div>
    {{ subheading("Introduction") }} <br>
    <p>
        Fermenters are containers used to grow bacteria and fungi in large amounts in a controlled environment to
        obtain
        the desired product. We will be using a custom stirred tank fermenter with a sparger system for our
        purposes.The
        sparged stirred tank fermenter offers the advantage of enhanced oxygen transfer (due to the increased
        gas-liquid
        interface area). Our main objective of implementing a fermentor is to convert methanol into biomass with the
        action of wet-lab and dry-lab's engineered bacteria. We intend to model the fermenter through a process
        simulation on BioWin to show dimensions, sensitivity analysis and then an overall view of the fermenter
        process
        with respect to our project to see the final output of our process.

    </p>
</div>
<div>
    {{ subheading("Background") }} <br>
    <div>
        {{ subsubheading("1. Main Components in a Fermenter ") }} {{ cite('microbenotesBioreactorDefinition') }}
            {{img(cdn("pictures/hardwares/10.png"), width="60%", alt="Generic fermenter with labelled components")}}
            <p>
                Fermenters, specifically sparged stirred tank fermenters, are instrumental in cultivating bacteria
                and fungi
                for
                desired product generation. The enhanced oxygen transfer in these fermenters is achieved through a
                sparger
                system.
                <br><br>
                Key components include the fermenter vessel, heating/cooling apparatus, aeration system, sealing
                assembly,
                baffles, impeller, sparger, feed ports, foam control, valves, and controlling devices for
                environmental
                factors.
            </p>
    </div>
    <div>
        {{ subsubheading("2. Landfill Implementation (Service Environment)")}}
        <p>
            Our focus is on implementing fermenters in landfill sites. Hence understanding the service environment
            is
            important. Landfills, engineered for waste management, vary based on location, climate, regulations, and
            management practices:
        </p>
        <p>
            <ul>
                <li>Location: Strategically placed away from water bodies and residential areas.</li>
                <li>Weather and Climate: Conditions influenced by regional weather, impacting decomposition rates and
                    leachate
                    production.</li>
                <li>Waste Disposal: Varied waste types compacted for space utilisation and odour control.</li>
                <li>Gas Generation and Control: Landfills produce methane and carbon dioxide, managed through gas
                    collection systems.
                <li>Environmental Protection: Adherence to regulations for liner systems, groundwater monitoring, air
                    quality,
                    and closure/post-closure care.</li>
                <li>Maintenance and Monitoring: Ongoing oversight for compliance, covering liners, leachate systems,
                    groundwater
                    monitoring, and vegetation.</li>
            </ul>
        </p>
        <p>
            In the context of landfill conditions and regulatory compliance, the decision to build a fermenter,
            rather
            than
            purchasing one commercially available, is grounded in its optimal suitability for unique requirements,
            regulatory
            compliance, cost-effectiveness, and simplified maintenance. Due to this decision of building a custom
            one
            instead
            of buying one from the market, we would have to model our fermenter using process simulation as
            mentioned in
            the
            introduction.</p>
    </div>
    <div>
        {{ subsubheading("3. Buy vs. Building a Custom Fermenter")}}
        <p>This wiki contains an abridged version of the following pdf, where considerations are made in more depth.</p>
        {{ pdf(cdn('hardwares/fermenter-construction-regulatory-and-environmental-considerations.pdf')) }}
    </div>
    <div>
        {{ subsubheading("3.1 Customization for Unique Requirements:")}}
        <p>
            Landfill sites have specific laws and regulations that define how the land around the site can be used.
            This
            includes specific size and space constraints and gas capture restrictions as well which . Buying a
            commercially available fermenter in the market may not follow the constraint of available usable area
            and the
            amount of feedstock we would like to process. By building a custom fermenter, we can ensure it precisely
            fits
            the available space and capacity required, utilising the landfill site to its full potential.
        </p>
    </div>
    <div>
        {{ subsubheading("3.2 Regulatory Compliance:")}}
        <p>
            Landfill operations must follow numerous environmental laws, especially those related to waste
            management and
            discharge. Building a fermenter provides the flexibility to consult with experts and ensure compliance
            with
            these laws. In contrast, commercial fermenters may not align perfectly with local regulations,
            potentially
            leading to compliance issues and additional purchases to meet requirements. Custom-built fermenters
            offer the
            needed flexibility to adapt to changing regulations (3 example regulations are listed below), allowing
            adjustments as laws evolve.
        </p>
        <p>
            <ul>
                <li>Specifications and descriptions for the design of the landfill site must include an assessment of
                    the
                    potential for subsurface migration of landfill gas at the site and of any control system necessary
                    for
                    monitoring or controlling the migration of it {{cite('ontarioLandNear')}}.</li>
                <li>The owner and the operator of a landfill site shall ensure that the waste fill area is completely
                    surrounded by buffer area in accordance with this section {{cite('ontarioLandNear')}}.</li>
                <li>To protect groundwater resources, landfills must be designed to meet stringent contaminant limits in
                    accordance with the Ministry's Reasonable Use Guideline (1994) as described in Section 10 of
                    Regulation 232/98 {{cite('ontarioLandNear')}}.</li>
            </ul>
        </p>
        <p>
            Building a fermenter with the help of landfill site experts at each step of the process makes it much
            easier
            for the landfill site to pass the test of meeting the regulations and laws established.
        </p>
    </div>
    <div>
        {{ subsubheading("3.3 Cost Effectiveness (Cost Analysis Table is found below)")}}
        <p>
            Constructing a landfill-specific fermenter can be more cost-effective than purchasing one commercially.
            Commercial fermenters may come with unnecessary features, leading to higher costs. Building a fermenter
            with
            only required specifications avoids unnecessary expenses, ensuring a budget-friendly fermentation
            process at
            the landfill site. While the quality may be slightly lower than industrial-grade options, it meets our
            specific needs. Due to the significant price difference between buying and building a fermentor, we have
            flexibility. This allows us to invest in higher quality components for critical parts prone to wear and
            tear,
            while using slightly lower quality parts for those easily replaceable or less likely to fail. This
            ensures a
            strong and reliable fermentor within budget.
        </p>
        {{img(cdn("pictures/hardwares/11.png"), width="80%", alt="Approximate fermenter cost breakdown, item by item")}}
    </div>
    <div>
        {{ subsubheading("3.4 Maintenance Simplification")}}
        <p>
            The contained facility (in which the fermenter is meant to be placed) in the landfill site may expose
            the fermenter to corrosive substances present in the waste. Therefore, when custom-building the
            fermenter, it is possible to select corrosion-resistant materials for critical components. This helps
            prevent premature deterioration of parts, minimising maintenance requirements, and reducing the risk of
            breakdowns.
        </p>
    </div>
    <div>
        {{ subsubheading("4. Modelling Goals")}}
        <p>
            As we intend to use a custom built fermenter, modelling will allow us to quantify fermenter performance
            against size, while identifying critical points in the design through sensitivity analysis. Through this
            process we intend to assign dimensions to our fermenter including its sub-components (metal jacket,
            impeller, sparger, inlet and outlet pipes, etc.) and determine its performance at steady-state
            operation. Finally, through this process we will be able to quantify the performance of our solution
            from end to end - landfill gas to value added chemical.
        </p>
    </div>
</div>

<div>
    {{ subheading("Methods") }} <br>
    <p>
        In sizing the fermenter, we intend to use the BioWin software package. BioWin is a software package that is geared towards modelling activated sludge reactors. Indeed, BioWin's main use case is in chemical and civil engineering applications for municipal and governmental water treatment solutions. However, the BioWin custom modeller allows creation of reactors involving custom bacteria, making it promising for modelling a bioreactor with a strain of bacteria whose use may not be as widespread in industry. Modelling a bioreactor in BioWin with custom bacteria takes two steps: modelling the bacteria's processes such as growth and decay, and modelling the reactor's steady state performance against reactor volume, inlet flows, and other overarching reactor parameters.
    </p>
    {{img(cdn("pictures/hardwares/18.png"), width="80%", alt="BioWin process simulation package screenshot showing intended process configuration")}}
    <p>
        This is a depiction of BioWin's process simulation UI. The heart of the system is the bioreactor which is where our engineered bacteria will reside.<br><br>
        When modelling bacteria in BioWin, we must define the notion of a process. A process is any single change that the bacteria may undergo which may be expressed like a typical chemical reaction, for instance:
    </p>
    <p style="text-align: center;">
        aA + bB → cC + dD
    </p>
    <p>
        An example process that may be modelled this way is if a strain of bacteria consumes one gram of glucose and one gram of methane to produce one gram of biomass and two grams of carbon dioxide (in which case a, b, c, and d may be 1, 1, 1, and 2 respectively). BioWin requires the stoichiometry of a process (the coefficients a, b, c, and d) and the reaction rate (usually in terms of ) to model a process. Therefore, to model a bacterium, we must identify which processes are relevant and their stoichiometries and kinetics.
    </p>
    {{img(cdn("pictures/hardwares/17-sub.png"), width="80%", alt="BioWin process simulation package screenshot showing custom modeller UI")}}
    <p>
        This is a depiction of BioWin's custom model builder. Processes are set in the box marked “processes”, and the stoichiometries are included in the columns beside it. BioWin can keep track of certain compounds - e.g. total Kjeldahl nitrogen, dissolved and bubbled oxygen, and metal ion concentrations - and incorporate them into the various processes we expect our engineered bacteria to undergo. Rate equations for each process are included at the bottom right side. {{cite('envirosimBioWinAdvantage')}}
        The process depicted in the picture is one of ammonia (NH3) removal; the stoichiometric coefficient for NH3 is set to -1. <br> <br>
        We consulted our dry lab team to see if the necessary process data may be acquired. Our dry lab team conducted metabolic modelling using flux balance analysis (FBA), which calculates our E. coli strain's fluxes when it is undergoing a specific growth rate. However, this method is only applicable at the exponential growth phase and is less relevant at the log phase, which is the region of interest from a reactor engineering perspective as we are interested in reactor steady state inlet and outlet flow rates. However, other modelling methods such as dynamic FBA apply in the log phase and may produce flux vs growth rate data.
    </p>
    <p>
        Our dry lab team has derived a relationship  between the prior reaction rate against modelling-determined flux and reaction rate constants, provided that explicit processes with known stoichiometries have been determined prior. Unfortunately, iGEM Toronto does not possess enough time to complete metabolic modelling using other models, or to investigate the modelling data we have in depth to identify specific processes that may be fed as inputs to BioWin. If iGEM Toronto had more time, we would attempt to define discrete processes and determine their flow rates with dynamic FBA or other log growth phase modelling methods and communicate with wet lab to see how reaction rate constants may be derived experimentally for these processes.
    </p>
    {{ pdf(cdn('hardwares/metabolic-flux-concentrations-sub.pdf')) }}
    <p>
        Once these processes are defined, the team would then carry out a sensitivity analysis to determine which parameters have the greatest impact on the value added chemical. By varying parameters such as the sizes of the impeller, sparger, metal jacket, and pipes, among other critical sizing components, and then performing large iteration cycles, the size of the bioreactor can be optimised for performance. With an optimal simulation, the team would then consider capital and operational costs when making a decision on the size of fermenter to implement at a given landfill site.
    </p>
</div>
<div>
    {{ subheading("Conclusion") }} <br>
    <p>
        Custom-built fermenters offer flexibility, tailored to landfill site needs for efficient waste processing and space utilisation. Compliance with regulations from the start minimises legal issues, streamlining operations. Building instead of buying ensures cost control by selecting site-specific materials, reducing expenses for a long-term, cost-effective solution. Moreover, a custom-built fermenter facilitates easier maintenance in challenging landfill conditions. Therefore, we have developed the process simulation of our fermenter to simulate the functionalities required and then the overall output which would be the biomass.<continue with modelling reactor macroscopically…>
    </p>
</div> 
{% endblock %}