{% extends "layout/subpage.html" %}

{% block content %}
<div>
  <div>
      {{ subheading("Overview") }} <br>
      <div class="pt-4">
        <p>
          <br>
          For Methanivore to succeed industrially, we must not only consider the biological aspects of methane conversion, but also what upstream and downstream processes are required to support the genetically engineered solution. Our hardware team’s main mandate is to develop a process using chemical engineering principles to support the genetically engineered solution.
          <br><br>
          From discussions with our wet lab and dry lab teams, we have decided that methane in gaseous form as released from a landfill gas cannot be directly used as an input for the genetically engineered E. coli. It must be converted to - ideally - a related liquid, which, from our discussions with those teams, we decided was methanol, before it is fed into a bioreactor containing the engineered bacteria. A high-level visualisation of our suggested process scheme is as follows. For reasons that shall be elaborated on in detail in our sub-pages, this process scheme is by no means optimal, but represents a step forward towards developing a process as of yet unconsidered by industry.
        </p>
        {{img(cdn("pictures/hardwares/3-short.png"), alt="Hardware high level process overview")}}
        <br>
        <p>
          With this process in mind, we designed each of the sub-processes with process simulation software using Aspen Plus and BioWin. We also attempted to prototype the separation step with the help of the Advanced Membranes Lab at the University of Toronto. Finally, to aid in visualising our solution and size our chemical engineering components, we created 3D models of the full process using Solidworks. Although each landfill has different conditions and will require different chemical engineering solutions, our work represents the initial stages of a typical plant design cycle and may be extended to other landfills in the future.
        </p>
      </div>
  </div>
</div>
{% endblock %}
