{% extends "layout/subpage.html" %}

{% block content %}
<div>
  <b><i><h1>Fermenter Modelling</h1></i></b><br>
  <div>
    {{ subheading("Motivation") }} <br>
    <p>
      The ultimate goal of any chemical engineering project is the design of a chemical plant. Currently, however, all
      we presented in our models are block diagrams, abstractions that take in and release chemicals. The goal of this
      visualisation project is to provide wiki readers with a visualisation of what, if implemented, our chemical
      engineering engineering process scheme will look like in real life. Should the project continue for longer, iGEM
      Toronto may also use the 3D models to size and place components, design palletization and modularization
      strategies for equipment, as well as design supports, braces, and fittings for the various pipes and equipment our
      chemical engineering process scheme will need to incorporate.
    </p>
  </div>
  <div>
    {{ subheading("Methods") }} <br>
    <p>
      Sizing, which is the process of assigning dimensions to equipment, was part of the modelling process for our
      processes. Our hardware team has sized the membrane module and the packed bed reactor, which are the most
      important components for the separation and oxidation processes respectively. Unfortunately, due to a lack of
      input data for the bioreactor model, our team was unable to size the fermenter we intend to use in our design.
      These, and most of the pipings and heating/cooling elements in our 3D models, use placeholder dimensions instead.
      <br><br>
      Our 3D models are drawn using SolidWorks. Some components, such as the fermenter, are generic models obtained from
      internet sources. Others, such as the packed bed reactor, are modelled from scratch. Positioning is arbitrary and
      our models do not and are not intended to meet any size or footprint restrictions. No valves,  measurement
      devices such as pressure gauges, or structural supports are incorporated in the model for simplicity.
    </p>
  </div>
  <div>
    {{ subheading("Hardware Part Description") }} <br>
      {{subsubheading("Separation module")}}
        <p>
          The following is a 3D CAD model of the separation module. The picture below contains details the module's components.
          Feel free to rotate and pan around the CAD model. The membrane module (see picture) has been sized; dimension details 
          may be looked up in the "Gas Separation Model" subpage <a href=https://2023.igem.wiki/toronto/hardware#gas-separation-model>here</a>.
        </p>

        <div class="side-by-side">
          {{img(cdn("pictures/hardwares/sep-key-sub.png"), alt="Separation module component labels")}}
          <model-viewer
          src="{{ cdn('models/separator.gltf') }}"
          alt="Separator"
          camera-controls
          touch-action="pan-y"></model-viewer>
        </div>

      {{subsubheading("Oxidation module")}}
        <p>
          The following is a 3D CAD model of the oxidation module. The picture below contains details the module's components.
          The packed bed reactor module (see picture) has been sized; dimension and flow structure details may be looked up in the
          "Oxidation Reaction Model" subpage <a href=https://2023.igem.wiki/toronto/hardware#oxidation-reactor-model>here</a>.
        </p>

        <div class="side-by-side">
          {{img(cdn("pictures/hardwares/oxidation-key-copy.png"), alt="Oxidation module component labels")}}
          <model-viewer
          src="{{ cdn('models/oxidation.gltf') }}"
          alt="Oxidation Chamber"
          camera-controls
          touch-action="pan-y"></model-viewer>  
        </div>

      {{subsubheading("Fermenter module")}}
        <p>
          The following is a 3D CAD model of the fermenter module. The picture below contains details the module's components.
          Due to a lack of time and reaction kinetics information, we were not able to size the fermenter or the ultrafiltration unit.
          The following depiction is thus an approximate representative of what our system would look like on the field.
          Details are in the "Bioreactor Design" subpage <a href=https://2023.igem.wiki/toronto/hardware#bioreactor-design>here</a>.
        </p>

        <div class="side-by-side">
          {{img(cdn("pictures/hardwares/fermenter-key-copy.png"), alt="Fermenter module component labels")}}
          <model-viewer
          src="{{ cdn('models/fermenter.gltf') }}"
          alt="Fermenter"
          camera-controls
          touch-action="pan-y"></model-viewer>  
        </div>
    <p>
      The fermenter and ultrafiltration models were acquired from {{cite('grabcadFreeDesigns')}} and {{cite('dContentCentral')}}.
    </p>
  </div>
</div>
{% endblock %}