{% extends "layout/layout.html" %}
  

{% block content %}
<div>
  {{ subheading("Wet lab contribution") }}
  <div>
    <p>
      In this iGEM 2023 season, wet lab team has successfully knock-out a chromosomal gene (tpiA) using a CRISPR-Cas9 system. The overall flow of the experiment and the rationale behind our design are documented in the <a href="https://2023.igem.wiki/toronto/experiments" style="color: blue; text-decoration: underline;">Experiments</a> page. The vectors used in CRISPR-Cas9 knock-out and the primers used to customize the system to tailor to our needs are documented in the <a href="https://2023.igem.wiki/toronto/material" style="color: blue; text-decoration: underline;">Material</a> page. Our troubleshoot process is documented in the <a href="https://2023.igem.wiki/toronto/notebook" style="color: blue; text-decoration: underline;">Notebook</a> page
    </p>
  </div>
</div>

<div>
  {{ subheading("Model and Software contribution")}}
  <div>
    <p>
      The full report can be found in <a href="https://2023.igem.wiki/toronto/model" style="color: blue; text-decoration: underline;">Model</a> and <a href="https://2023.igem.wiki/toronto/software" style="color: blue; text-decoration: underline;">Software</a> page.
      <br><br>
      But in essence, iGEM Toronto modeled metabolic pathways of E. coli and its media culture in silico using well established algorithms, as well as novel implementations (see Section 3.4.2 of the report) primarily relying on flux balance and steady-state assumption. Thus, we predicted optimal genetic modifications (such as gene addition, overexpression, knockouts) that can enable improved methane uptake. 
    </p>
  </div>
</div>

<div>
  {{ subheading("Hardware contribution")}}
  <div>
    <p>
      For Methanivore to succeed industrially, we must not only consider the biological aspects of methane conversion, but also what upstream and downstream processes are required to support the genetically engineered solution. iGEM Toronto hardware team has developed a process using chemical engineering principles to support the genetically engineered solution. This includes the development of gas separation model and oxidation reactor model. In order to demonstrate that gas phase separation is successful and the output can be provided as a feedstock to the engineered bacteria, we drafted a protocol for future iGEM teams to follow, when chemical engineering processes are needed to supplement the overall synthetic biology solution. 
      <br><br>
      The full report can be found in <a href="https://2023.igem.wiki/toronto/hardware" style="color: blue; text-decoration: underline;">Hardware</a> page.
    </p>
  </div>
</div>

<div>
  {{ subheading("Entrepreneurship contribution")}}
  <div>
      <p>
        iGEM Toronto developed a full business plan with the goal of bringing the business idea to market. The business plan included all essential elements, for example, a multi-dimensional opportunity analysis, team analysis, commercialization strategy, and long term business strategy. The team has iterated the business plan through attending pitch competitions and applying to accelerator programs. The future iGEM Teams can be benefited from the structure of the business plan and think through their idea with the help of our business plan.
        <br><br>
        The full report can be found in <a href="https://2023.igem.wiki/toronto/entrepreneurship" style="color: blue; text-decoration: underline;">Entrepreneurship</a> page.
      </p>
  </div>
</div>

{% endblock %}
