{% extends "layout/layout.html" %}
  
{% block banner %}
  <div class="mt-8">
    {{ banner("Methanivore", "A Comprehensive Solution to Harness Landfill Gas Emissions") }}
  </div>
{% endblock %}

{% block content %}
<style>
  table, th, td {
    border: 1.5px solid;
  }

  thead {
    background-color: #285a06; 
    color: white; 
  }

  tbody {
    background-color: #dfffc9;
    color: black;
  }

  caption { 
    caption-side: bottom;
    text-align: left;
    margin-top: 10px;
    color: black;
    font-style: italic
  }
  </style>
  <div>
    {{ subheading("Background") }}
    <div>
      {{ subsubheading("Negative impact of landfill gas to the environment") }}
      <p>
        Landfill gas consists of an approximately 1:1 ratio of methane
        (CH4) to carbon dioxide (CO2). Methane in particular is responsible
        for a greater degree of global warming compared to carbon dioxide,
        and landfill sites contribute to 23% of nationwide annual greenhouse
        gas emissions.
      </p>
      <p>
        As of 2020, landfills contribute to 23% of national methane emissions,
        of which 52% of the gas was used to generate low-carbon electricity,
        17% to produce renewable natural gas and 30% was used at nearby facilities
        {{ cite('reduce_waste_canada') }}. Through the Government of
        Canada’s Strengthened Climate Plan - A Healthy Environment and a Healthy
        Economy, the nation has planned to implement federal regulations to increase
        the number of landfills that collect their methane, while exploring biosolids
        and waste management infrastructure {{ cite('reduce_emissions_canada') }}.
      </p>
    </div>
    
    <div>
      {{ subsubheading("How are landfill gasses processed today?") }}
      <p>
        Currently, the Green Lane Landfill collects landfill gas, predominantly
        methane (CH4) and carbon dioxide (CO2), and directs it to a flaring system,
        converting it into CO2 before its release into the atmosphere 
        {{ cite('landfill_gas_generation_collection') }}, emitting millions
        of cubic meters of CO2
        {{ cite('landfill_gas_collection_use_destruction') }}.
      </p>
      {{ img(cdn("description/desc-landfill-gas-composition.svg"),
        alt="Landfill Gas Composition",
        width="60%") }}
  </div>
    
    <div>
      {{ subsubheading("First Nation impacted by the landfill sites") }}
      <p>
        A large number of Canada First Nation sites and Indigenous communities are
        located in the vicinity of landfill sites, which produce biogas through
        anaerobic decomposition.
      </p>
    </div>
  </div>

  <div>
    {{ subheading("Our Product", img=cdn("description/desc-raccoon-walking-right-cropped.png")) }}
    <div>
      {{ subsubheading("A biological machine for methane capturing at landfill sites") }}
      <p>
        Our project aims to engineer bacteria capable of consuming methane and methane
        derivatives, such as methanol, formate, and formaldehyde, and implement this system
        in landfill sites.
      </p>
      <div class="side-by-side">
        {{ img(cdn("description/desc-raccoon-alert.svg")) }}
        {{ img(cdn("description/desc-gas-cloud.svg")) }}
        {{ img(cdn("description/desc-bacterium.svg")) }}
      </div>
    </div>
    <div>
      {{ subsubheading("1. Separation of CH4 and CO2 from Landfill Gas with Hardware") }}
      <div>
        {{ subsubsubheading("Why") }}
        <p>
          Current solutions burn the methane acquired from landfill gas either directly
          to the air or as a form of energy production, both of which are
          carbon-dioxide emitting. The synthetic biology solution we pursue involves
          the respiration of methanol formed from landfill gas methane. To do this, the
          methane from landfill gas must be isolated and then oxidized to methanol.
          This methanol will serve as a carbon feedstock into methylotrophic strain
          bacteria. The bacteria that feed on the methanol must also be cultivated on
          an industrial scale to effectively remove methane from the landfill gas ecosystem.
        </p>
      </div>
      <div>
        {{ subsubsubheading("Goal") }}
        <p>
          Our hardware team’s project aims to fill this gap by designing a separation
          process for the landfill gas, a process for oxidizing the resultant methane gas,
          and a fermenter to cultivate the methylotrophic bacteria at scale.
        </p>
      </div>
      <div>
        {{ subsubsubheading("Hardware Part 1: Separation") }}
        <p>
          The composition of landfill gas is approximately 50% methane, 45% carbon dioxide,
          and 5% nitrogen. The separation is to take place across two stages; the first one
          to remove carbon dioxide from the landfill gas mixture, and the second to
          remove nitrogen from methane {{ cite('epa_welcome_agenda') }}.
          For each stage, we plan on sizing the membranes
          by building a model with MATLAB, and incorporating the results of the modeling
          into Aspen Plus. We also hope to prototype the carbon dioxide removal separation
          by building a downscaled model and demonstrating separation with nitrogen/carbon
          dioxide mixtures.
        </p>
      </div>
      <div>
        {{ subsubsubheading("Hardware Part 2: Oxidation of methane to methanol") }}
        <p>
          The difficulty of this process is that methane is usually only completely
          oxidized to carbon dioxide. Oxidizing to methanol is a more intricate process
          that needs precise reaction control. We plan on accomplishing this with a
          photochemical/electrochemical process with a catalyst. This process will be
          modeled and sized with Aspen Plus.
        </p>
      </div>
      <div class="side-by-side">
        <div>
          {{ subsubsubheading("Hardware Part 3: Fermenter Construction") }}
          <p>
            To design the fermenter, we needed to understand the context the fermenter
            will be placed in: where, to what size, etc. We plan on organizing a site
            visit to a landfill where we can learn to what scale we need to construct a
            plant for the fermenter. We will design and size the fermenter with Aspen Plus.
            We also hope to develop process controls for the fermenter to optimize bacteria
            growth parameters such as feed flow, temperature, pH, and stirring.
          </p>
        </div>
        {{ img(cdn("description/desc-fermenter.svg"), alt="A fermenter") }}
      </div>
    </div>
    <div>
      {{ subsubheading("2. Constructing Improved Methylotrophic Strains") }}
      <p>
        Developing a collection of methylotrophic microbes is essential for
        fundamental research in this field. Through a variety of experimental
        techniques, we aim to enhance the assimilation of single-carbon compounds
        in our engineered strains:
      </p>
      <div class="w-full">
        <table>
          <caption>
            Techniques and functions involved in constructing improved methylotrophic strains.
          </caption>
          <thead>
            <tr>
              <th>Experimental Technique</th>
              <th>Function</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Overexpression</td>
              <td>Introducing a recombinant plasmid into the chassis through cloning</td>
            </tr>
            <tr>
              <td>CRISPR-Cas System Knockout</td>
              <td>
                Knocking out undesired genes through gene editing and pathway
                engineering to optimize methylotrophic survival.
                We intend to use different CRISPR Cas systems to knockout different
                genes of interest.
              </td>
            </tr>
            <tr>
              <td>Adaptive Evolution</td>
              <td>
                Optimizing the fitness of the engineered strain by maintaining a stressor
                in the growth environment (methanol).
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        {{ subsubsubheading("Our Strain of Interest: T-B18 E. coli") }}
        <p>T-B18 E. coil is E. coli BW25113 with frmA knocked out. It harbors
          pETM6_Ptrc_BsMdh_BmHps_BmPhi plasmid (Addgene plasmid #129104), and was
          adaptively evolved to grow efficiently on threonine and perform significant
          biosynthesis while employing methanol-derived carbon
          {{ cite('ecoli_synthesis_amino_acids') }}
          T-B18 was a gift
          from Maciek R. Antoniewicz & Eleftherios Terry Papoutsakis
          (Addgene plasmid # 159446)
        </p>
        <p>
          The RuMP pathway is an energetically favorable pathway that is compatible
          with the industrial E. coli strains
          [{{ citer.cite('ecoli_ribulose_monophosphate_cycle') }}, 
          {{ citer.cite('synthetic_c1_reductive_glycine') }}];
          T-B18 is an evolved E. coli
          strain that assimilates methanol into its central carbon metabolism through
          the RuMP pathway. Pathway modifications that enhance RuMP cycle output are
          of key interest for maximizing biomass production.
        </p>
      </div>
      <div>
        {{ subsubsubheading("Our Strain of Interest: C1-G-S-EVO P. Putida") }}
        <p>
          The Reductive Glycine pathway (rGlyP) is a promising pathway for one carbon
          compound assimilation, especially for it allows formatotrophic growth.
          It requires only one ATP input and three reducing agents per linear pathway.
          We contacted Prof. Claassens for P. Putida strain utilizing rGlyP,
          who generously offered us strain C1-G-S-EVO described in the paper
          {{ cite('cobrapy') }}.
        </p>
      </div>
    </div>
  </div>
  <div>
    {{ subheading("Metabolic Modelling and Simulation Software") }}
    <div>
      {{ subsubheading("Why are computational models important for metabolic engineering?") }}
      <p>
        Metabolism is a highly complex network of thousands of reactions, and it’s
        impossible to take into account the impact of each gene, metabolite, enzyme,
        or even culture media without a mathematical model.
  
        In order to investigate our strains of interest (T-B18 and C1-G-S-EVO P. Putida),
        we constructed genome-scale-metabolic models (GSMM) for those chassis.
        They are generated from an annotated genome by expressing the metabolic
        network of an organism as a list of mass balanced reactions, which is
        represented as a so-called stoichiometric matrix. They also relate genes
        with the proteins they code for and the reactions those proteins are
        associated with. They helped satisfy two main purposes: describe the
        metabolism - specifically, a steady-state approximation thereof - and
        predict the state of a metabolic network in different scenarios. 
      </p>
    </div>
    <div>
      {{ subsubheading("How do we use metabolic models?") }}
      <p>
        There are many mathematical analyses that can be performed on GSMMs;
        the method we are using is called flux-balance analysis (FBA). 
      </p>
    </div>
    <div>
      {{ subsubheading("Setting flux constraints") }}
      <p>
        For each reaction, the range of allowable fluxes is decided based on
        biological data, the simulation target, and heuristics. A steady-state
        assumption is also made that couples the reaction fluxes based on the
        topology and stoichiometry of the GSMM network.
      </p>
    </div>
    <div class="side-by-side">
      {{ img(cdn("description/desc-gene-flow.svg")) }}
      <div>
        {{ subsubheading("Conducting Flux-Balance Analysis") }}
        <p>
          Flux-balance analysis (FBA) assigns each reaction a flux such that (A) the
          flux constraints are obeyed and (B) a given objective function is optimized
          (often set to be a predictor of cellular growth). We aim to use FBA and its
          associated methods for the in silico discovery of genes that can be added,
          overexpressed, or knocked out to improve methanol-dependent growth. 
        </p>
        <div>
          {{ subsubsubheading("Insights from Flux-Balance Analysis") }}
          <p>
            FDA generates insights on:
          </p>
          <p>
            <ul>
              <li>Knockouts</li>
              <li>Overexpression</li>
              <li>Concentration of Growth Media and Supplements Required</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="side-by-side">
      <div>
        {{ subsubheading("Knockouts") }}
        <p>
          Gene knockout simulations are performed by systematically removing each gene
          from the model and re-optimizing the flux distribution using FBA. This
          involves setting the fluxes associated with the reactions catalyzed by the
          knockout gene to zero or adjusting them to account for the gene's absence.
          The impact of each gene knockout on the objective function is assessed by
          comparing the predicted flux distribution and the optimized objective
          function value with those of the wild-type (unmodified) model. Genes whose
          knockout results in a significant decrease in the objective function are
          considered potential targets for further experimental validation.
        </p>
      </div>
      {{ img(cdn("description/desc-gene-modding.svg")) }}
    </div>
    <div>
      {{ subsubheading("Overexpression") }}
      <p>
        Overexpression simulations are performed with maximizing the production of a
        target metabolite in mind. From the dry-lab perspective, we identified
        potential overexpression targets using a framework called FSEOF, and are
        trying to simulate overexpression in a constraint-based modeling python
        package called COBRApy with an additional imported metabolic network design
        package called StrainDesign
        {{ cite('strain_design') }}.
        In order to simulate overexpression in our
        T-B18 model, we plan to follow the procedure outlined in slides 25-27 of
        <a href="https://cnls.lanl.gov/external/qbio2018/Slides/FBA%202/qBio-FBA-lab-slides.pdf">
          this powerpoint
        </a>
        , where we obtain the range of flux values (that exist in the solution space)
        for reactions that we want to overexpress. Afterwards, we set the
        ‘lower-bound’ attribute of a reaction to be the maximum value (in the range)
        from the FVA analysis. The upper-bound can be set to some arbitrarily large
        value (1000+). By doing this, we essentially constrain the model to high
        fluxes for reactions of interest that we intend to overexpress. 
      </p>
    </div>
    <div>
      {{ subsubheading("Concentration of Growth Media and Supplements Required") }}
      <p>
        From the simulation perspective, we define the growth medium as the fluxes of
        exchange reactions between the bacteria and the environment. We can add
        reactions, limit fluxes, and eliminate reactions to simulate different growth
        media conditions. 
      </p>
    </div>
  </div>
{% endblock %}
