{% extends "layout/layout.html" %}
  
{% block banner %}
  <div class="mt-8">
    {{ banner("Text", "More Text") }}
  </div>
{% endblock %}

{% block content %}
  <style>
  table, th, td {
    border: 1.5px solid;
  }

  thead {
    background-color: #285a06; 
    color: white; 
  }

  tbody {
    background-color: #dfffc9;
    color: black;
  }

  caption { 
    caption-side: bottom;
    text-align: left;
    margin-top: 10px;
    color: black;
    font-style: italic
  }
  </style>
  Text
{% endblock %}
