{% extends "layout/layout.html" %}

{% block content %}
<div>
  <p>
    Welcome to iGEM Toronto, where innovation meets collaboration in the dynamic
    field of synthetic biology. Our team is composed of diverse divisions, each
    contributing a unique set of skills and expertise to drive the success of our
    cutting-edge projects. Discover the essence of each division below:
  </p>
</div>
<div>
  {{ subheading("Wetlab Team") }}
  <p>
    Dive into the heart of scientific exploration with our Wetlab Team.
    Passionate scientists and bioengineers collaborate to conduct hands-on
    experiments, perfecting protocols, and bringing biological projects to life in
    the laboratory. If you have an interest in practical applications and precision,
    the Wetlab Team is the place for you.
  </p>
</div>
<div>
  {{ subheading("Drylab Team") }}
  <p>
    Unleash the power of computation in our Dry-lab Team. This division focuses on
    the digital frontier of synthetic biology, analyzing data, modeling complex
    systems, and employing bioinformatics tools. Join us if you are enthusiastic
    about computational biology and want to explore the limitless possibilities of
    the virtual world.
  </p>
</div>
<div>
  {{ subheading("Hardware Team") }}
  <p>
    Merge the realms of biology and technology with our Hardware Team. Innovative
    minds in electronics and hardware development collaborate to design and
    construct hardware solutions for synthetic biology projects. If you have a
    passion for building and creating tangible solutions, the Hardware Team awaits
    your expertise.
  </p>
</div>

<div>
  {{ subheading("Human Practices Team") }}
  <p>
    Explore the ethical, social, and cultural dimensions of synthetic biology with
    our Human Practices Team. Engage with diverse stakeholders, conduct research on
    the societal implications, and integrate responsible practices into project
    design. If you're interested in shaping the ethical landscape of synthetic
    biology, join us.
  </p>
</div>

<div>
  {{ subheading("Entrepreneurship Team") }}
  <p>
    Bridge the gap between science and business in our Entrepreneurship Team. This
    division identifies market opportunities, develops business plans, and explores
    funding strategies to transform scientific projects into impactful ventures.
    Join us if you are passionate about entrepreneurial success in the scientific
    and biotech sectors.
  </p>
</div>

<div>
  {{ subheading("Outreach Team") }}
  <p>
    Share the excitement of synthetic biology with the community through our
    Outreach Team. This division plans and executes educational programs, engages
    with schools and community organizations, and utilizes various platforms to
    spread awareness. If you are passionate about science communication and
    community engagement, the Outreach Team is your stage.
  </p>
</div>

<div>
  {{ subheading("Finance Team") }}
  <p>
    Ensure the financial success of our projects with the Finance Team. Responsible
    for budgeting, financial strategy, and fundraising efforts, this team plays a
    vital role in sustaining iGEM Toronto's initiatives. If you have a knack for
    numbers and strategic planning, join us in shaping the financial future of
    synthetic biology.
  </p>
</div>

<div>
  <p>
    Join iGEM Toronto and be a part of a collaborative community pushing the
    boundaries of synthetic biology. Whether you are driven by laboratory
    experiments, computational exploration, hardware innovation, ethical
    considerations, entrepreneurial pursuits, community outreach, or financial
    strategy, there's a place for you to contribute to our exciting projects.
    Together, we redefine the possibilities of synthetic biology! 🌐
  </p>
</div>

{% endblock %}
