{% extends "layout/layout.html" %}
  

{% block content %}
  {{ heading("Entrepreneurship") }}
  
  <p>Explore our Entrepreneurship Section and dive into each criterion for a concise overview. We encourage you to dive into our comprehensive business plan, where we demonstrate the feasibility, scalability, and innovation of our solution. Our plan includes a transparent and practical product development timeline, outlining the required resources and potential risks. We showcase our skills, capabilities, and the involvement of key stakeholders crucial for bringing our solution to the market. We assess both positive and negative long-term impacts of our solution and provide details about our customers and their unmet needs.</p>
  <div x-data="{
    selectedSummary: '',
    summaries: [
      'Customers & Unmet Needs',
      'Solution is Possible, Scalable, and Inventive',
      'Product Development, Milestones, Resources, and Risks',
      'Skills, Capabilities, Stakeholders',
      'Positive and Negative Long-Term Impacts'
    ]}">
    <div class="custom flex gap-8 flex-col lg:flex-row">
      <template x-for="summary in summaries">
        <button class="text-lg rounded-md border-2 border-primary-medium duration-200 p-2"
                x-text="summary"
                @click="selectedSummary = summary"
                :class="{ 'bg-primary-medium text-font-light': selectedSummary === summary,
                          'bg-white text-primary-medium': selectedSummary !== summary }">
        </button>
      </template>
    </div>
      
    <div class="p-4 custom" x-show="selectedSummary == summaries[0]" x-cloak>
      <p>
        We have discovered our potential customers and identified unmet needs
        not yet covered by other existing solutions.
      </p>
      <p>
        We have pinpointed public and private landfills as our primary customers.
        Through engagement with these entities and considering the increasing
        demand for carbon-neutral solutions both locally and internationally in
        response to climate change, we have affirmed our solution possess the
        capability to address unmet needs not currently fulfilled by existing
        alternatives.
      </p>
      <p>
        Please see the following relevant sections within our business plan:
        Problem Statement, Product Description, Hardware Description, Value
        Proposition Canvas, Primary Customers, SWOT, PESTLE, Appendix A,
        Appendix B. Additional sections contribute to our comprehensive approach
        strategy in crafting our solution.
      </p>
    </div>
    <div class="p-4 custom" x-show="selectedSummary == summaries[1]" x-cloak>
      <p>
        We have shown our solution is possible, scalable, and inventive.
      </p>
      <p>
        We have established that our solution is not only feasible, scalable,
        and innovative, but have also provided a detailed explanation of our
        technology, hardware, and synthetic biology approach for processing
        landfill methane. We've presented models of our proposed solution and
        interacted with local landfills to validate the practical implementation
        of our solution.
      </p>
      <p>
        Please see the following relevant sections within our business plan:
        Problem Statement, Technology Description, Product Description, Hardware
        Description, Existing Technology, Appendix A - Landfill Site Visit,
        Appendix B - Competitor Analysis. Additional sections contribute to our
        comprehensive approach strategy in crafting our solution.
      </p>
    </div>
    <div class="p-4 side-by-side" x-show="selectedSummary == summaries[2]" x-cloak>
      <div>
        <p>
          We have presented logical product development plans with realistic
          milestones, timelines, resources, and risks.
        </p>
        <p>
          Our team has crafted a comprehensive roadmap showing key stages such as
          proof of concept, MVP optimization, patent filing, regulatory approval,
          and installation. We've also strategized our expansion on an
          international scale, with a primary focus on sevring the USA. Our
          detailed plan shows the required resources, including human capital,
          funding, operating costs, and various essential resources such as
          hardware processing and wet lab reagents. Furthermore, we have
          identified and assessed risks associated with our synthetic biology
          solution, considering its potential social, ecological, and economic
          impact.
        </p>
        <p>
          Please see the following relevant sections within our business plan:
          Technology Description, Product Description, Hardware Description,
          Roadmap, Value Proposition Canvas, Commercialization (Existing
          Technology, Protectibility and Claims, SWOT, Value Chain Analysis,
          Risk and Uncertainty, Financial Planning, PESTLE). Additional sections
          contribute to our comprehensive approach strategy in crafting our solution.
        </p>
      </div>
      {{ img(src=cdn('bproadmap.png'), alt="Methanivore Roadmap Timeline", width="100%") }}
    </div>
    <div class="p-4 custom" x-show="selectedSummary == summaries[3]" x-cloak>
      <p>
        We have outlined skills, capabilities, and stakeholders required to be
        credible in developing our solution further.
      </p>
      <p>
        We've detailed our team, network, and essential stakeholders involved
        in establishing credibility for the continued development of our solution.
        Guidance from University of Toronto professors, particularly those
        specializing in metabolic engineering, hardware engineering, and related
        fields, has been instrumental. Additionally, our affiliations with the
        University of Toronto's Entrepreneurship Hatchery and early-stage
        mentorship from CreativeDestruction Labs connects us with resources
        necessary to develop our solution further. Importantly, our team possesses
        the requisite experience and training in fields directly pertinent to
        advancing our solution.
      </p>
      <p>
        Please see the following relevant sections within our business plan:
        The Team, Network, SWOT. Additional sections contribute to our
        comprehensive approach strategy in crafting our solution.
      </p>
    </div>
    <div class="p-4 custom" x-show="selectedSummary == summaries[4]" x-cloak>
      <p>
        We have considered the positive and negative long-term impacts of our
        fully developed solution.
      </p>
      <p>
        We've delineated both the positive and negative long-term effects of
        our solution, delving into various dimensions such as political,
        economic, sociocultural, technological, legal, and environmental
        factors. In addition, we have addressed apprehensions related to the
        use of synthetic biology and GMOs. Furthermore, our analysis extends
        to identifying positive long-term opportunities associated with our
        solution.
      </p>
      <p>
        Please see the following relevant sections within our business plan:
        Value Proposition Canva, SWOT, PESTLE. Additional sections contribute
        to our comprehensive approach strategy in crafting our solution.
      </p>
    </div>
    <br />
    <h5>Methanivore's Business Plan:</h5>
    <a class="text-blue-600 hover:underline" href="{{ cdn('methanivorebusinessplan.pdf') }}">Download PDF</a>
    {{ pdf(cdn('methanivorebusinessplan.pdf')) }}
  </div>


{% endblock %}
