{% extends "layout/layout.html" %}
  

{% block article_content %}
  {{ heading("Entrepreneurship") }}
  
  <p>Explore our Entrepreneurship Section and dive into each criterion for a concise overview. We encourage you to dive into our comprehensive business plan, where we demonstrate the feasibility, scalability, and innovation of our solution. Our plan includes a transparent and practical product development timeline, outlining the required resources and potential risks. We showcase our skills, capabilities, and the involvement of key stakeholders crucial for bringing our solution to the market. We assess both positive and negative long-term impacts of our solution and provide details about our customers and their unmet needs.</p>
  <div x-data="{
    selectedSummary: '',
    summaries: [
      'Customers & Unmet Needs',
      'Solution is Possible, Scalable, and Inventive',
      'Product Development, Milestones, Resources, and Risks',
      'Skills, Capabilities, Stakeholders',
      'Positive and Negative Long-Term Impacts'
    ]}">
    <div class="custom flex gap-8 flex-col lg:flex-row">
      <template x-for="summary in summaries">
        <button class="text-lg rounded-md border-2 border-primary-medium duration-200 p-2"
                x-text="summary"
                @click="selectedSummary = summary"
                :class="{ 'bg-primary-medium text-font-light': selectedSummary === summary,
                          'bg-white text-primary-medium': selectedSummary !== summary }">
        </button>
      </template>
    </div>
      
    <div class="p-4 custom" x-show="selectedSummary == summaries[0]" x-cloak>
      Text
    </div>
    <div class="p-4 custom" x-show="selectedSummary == summaries[1]" x-cloak>
      Text
    </div>
    <div class="p-4 side-by-side" x-show="selectedSummary == summaries[2]" x-cloak>
      Text
    </div>
    <div class="p-4 custom" x-show="selectedSummary == summaries[3]" x-cloak>
      Text
  </div>


{% endblock %}
