{% extends "layout/layout.html" %}
{% set add_sidebar = false %} <!-- Turns on/off the side navigation bar -->

{% block article_content %}
    {{ heading('iGEM Toronto Finance Team') }}
    <div>
        <p>A good finance team is the backbone of any organization, for profit or not.</p>
    
        <p>We as the Finance Team at iGEM Toronto play a crucial role in managing the club’s financial operations, ensuring that all financial activities are organized, transparent, and aligned with our 2024 goals.</p>
    </div>

    {{ subheading('How do we accomplish this?') }}
    {{ subsubheading('Budget Management') }}
    <div>
        <img src="budget-concept.jpg" alt="iGEM Toronto finance team" style="width: 200px; height: 200px; border-radius: 50%;" />
        <p>The team prepares, monitors, and updates the club’s annual budget. This includes estimating revenue, managing expenses, and making sure all work stays within its financial means.</p>
    </div>
    {{ subsubheading('Seeking Potential Sponsors') }}
    <div>
        <p>We take the lead in reaching out to companies for sponsorships and partnerships to secure financial support, resources, and valuable collaborations. Processes include identifying potential sponsors, creating proposals and outreach strategies, and finally building and nurturing relationships between our partners and iGEM Toronto.</p>
    </div>
    {{ subsubheading('Financial Reporting') }}
    <div>
        <p>Regular financial reports are made to keep the leadership and members informed about the organization’s financial status, such as income, expenditures, and remaining balances.</p>
    </div>
    {{ subsubheading('Expense Tracking and Reimbursement') }}
    <div>
        <p>We track and manage all expenditures, ensuring that funds are spent appropriately and according to our budget, additionally handling reimbursement requests for members who have made purchases on behalf of our club.</p>
    </div>

{% endblock %}
