{% extends "layout/layout.html" %}
  
{% block article_content %}

{{ subpage("Overview") }}
{% include 'pages/hardware/overview.html' %}
{{ subpage("Gas Separation Model") }}
{% include 'pages/hardware/membrane.html' %}
{{ subpage("Gas Separation Prototype") }}
{% include 'pages/hardware/prototyping.html' %}
{{ subpage("Oxidation Reactor Model") }}
{% include 'pages/hardware/oxidation.html' %}
{{ subpage("Bioreactor Design") }}
{% include 'pages/hardware/fermenter.html' %}
{{ subpage("3D CAD Visualisations") }}
{% include 'pages/hardware/visualizations.html' %}

{% endblock %}
