{% extends 'layout/core.html' %}
{% from 'layout/header.html' import links with context %}

{% block body %}
  <body class="flex flex-col min-h-screen justify-between">
    {% include 'layout/header.html' %}
    <div class="bg-primary-dark relative">
      <div class="absolute right-12 top-0">
        <img src="{{ new_cdn('assets/graphics/bacterium.svg') }}">
      </div>
      <div class="w-full my-60 px-28 lg:px-4">
        <h1 class="text-white lg:w-1/3 text-center m-auto">
          Project Name
        </h1>
        <h4 class="text-white my-8 no-underline font-roboto-mono lg:w-1/4 text-center m-auto">
          A new solution to - description of the project's application 
        </h4>
      </div>
      <img class="w-full my-8" src="{{ new_cdn('assets/graphics/home-futuristic.png') }}">
    </div>
    
    {% include 'layout/footer.html' %}
  </body>
{% endblock %}
