{% extends "layout/layout.html" %}
{% set add_sidebar = true %}

{% block article_content %}
{{ heading("Human Practices", show=False) }}

{{ subpage("Overview") }}
{% include 'pages/human-practices/human-practices.html' with context%}

{{ subpage("Regulatory Framework", img=cdn("pictures/hp-centre-block.jpg")) }}
{% include 'pages/human-practices/regulatory-framework.html' with context %}

{{ subpage("Synergy with Other Technologies", img=cdn("pictures/hp-landfill-site.jpg")) }}
{% include 'pages/human-practices/synergy-with-other-technologies.html' %}

{{ subpage("Integrated Human Practices", img=cdn("pictures/hp-molecules.jpg")) }}
{% include 'pages/human-practices/integrated-human-practices.html' %}

{{ subpage("Education", img=cdn("pictures/hp-molecules.jpg")) }}
{% include 'pages/human-practices/education.html' %}

{{ subpage("Sustainability", img=cdn("pictures/hp-shore.jpg")) }}
{% include 'pages/human-practices/sustainability.html' with context %}

{% endblock %}

{% block references %}{% endblock %}
