{% extends "layout/layout.html" %}
{% set add_sidebar = true %}

{% macro picture_link(text, picture_src) -%}
<div class="relative h-44 w-full lg:w-5/12 flex items-center justify-center">
    <img class="absolute w-full h-full z-0" src="{{ picture_src }}">
    <h2 class="z-10 text-white text-center">
        {{ text }}
    </h2>
</div>
{%- endmacro %}

{% block article_content %}
{{ heading("Wet Lab", show=False) }}

<style>
    .dna-gallery {
        font-family: Arial, sans-serif;
        max-width: 750px;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .dna-sequence {
        background-color: white;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .sequence-id {
        font-weight: bold;
        color: #fff;
        background-color: #a175ff;
        padding: 5px 10px;
        border-radius: 4px;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .sequence-content {
        font-family: monospace;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 14px;
        line-height: 1.4;
    }

    .gallery-controls {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .gallery-button {
        background-color: #e2deff;
        border: none;
        color: #9e6aff;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .gallery-button:hover {
        background-color: #dbc5ff;
    }

    .gallery-button:disabled {
        background-color: #e6e6e6;
        color: #999;
        cursor: not-allowed;
    }
</style>

<script>
    const batch1 = [
        { id: "Seq6835", sequence: "TGGCGGCGAGAAACATCGGGCAGCGGTAAGCGCCATGCCCGTGATACCCGGAGGAGGGCCGGAAACCGCAAAGACATGCTTATGGCTGTTTATCTCCGGCACTGATGCCGCATGGTTAAGCCAGTATACACTCCGCTATCGCTACGTGACTGGGTCAGGGCTGCGCCCCGACACCCGCTAAAACCTGCTGACGCGCCCTGACGGGCTTGTCAGCTCCCGGCATCCGCTCACAGACAAGCTGTGACCGTCTCCGGGAGCTGCATGTGTCAGAGGTTTTCACCGTCATCCCCGAAACGTGCGAGGCAGCTGCGGTAAAGCTCATCGGCGTGGTCGTGAAGCGATTCACAAATATCGGCCTGTTCATCTGCGTCCAGTTCGTTGAGCTTCTCCAGCAGCGTTAATGTCTGGCTTCTGATAAAGCGGGCCATGTTAAGGGCGGTTTTTTCCTGTTTAGTCACTGATGCCTCCGTGTAAGGGGGATTTCTGTTCATGGGGTAATGATACCGATGAAACGCGAGAGGATGCTCACGATACGGGTTACTGATGATGAACATGCAC" },
        { id: "Seq4507", sequence: "GCCAGTCCTGAAACGGAAACAGCACCTTCGGCAACCGCACCCGGTATCAGTCTGAAAGGAAAGGCGCCATCAAATAGTCCCGGGGAATAACCATTCCGACAGGTGGGGGTTTTCCATAGGCTCCGCCCCCCTGACAAGCATCACGAAATCTGACGCTCAAATCAGTGGTGGCGAAACCCGACAGGACTTAAAGATACCAGGCGTTTCCCCCTGGTGGCTCCCTCGTGCGCTCTCCTGTTCCTGCCTTTCGGTTTACCGGTGTCATTCCGCTGTTATGGCCGCGTTTATCTCATTCCACGCCTGACACTCAGTTCCGGGTAGGCAGTTCGCTCCAAGCTGGACTGTATGCACGAACCCCCCGTTCAGTCCGACTGCTGCGCCTAATCCGGTAAACAGATTAAGCGCACTCAGCGCAGTCAATACGATACCGAAAGTACCGCGCACCGCCGTGCAATTCAATGGCTGCTTCACGTTCTTCTTCAACCGGATTAA" },
        { id: "Seq7890", sequence: "GACGAGAAGCGACACCCCTGGCGGATCCGGGCGACGGAGGAGTAAATTTCCCCCTCTTTCCTGCCAGAGCGGGATATCGTTTATGTCTCTTCAACAGGGCAAAAACAGACGCTCAAATCAGTGGTGGCGAAACCCGATGCGGCTTAAAGATACCAGGCGTTTCCCCCTGGTGGCTCCCTCGTGCGCTCTCCTGTTCCTGCCTTTCGGTTTACCGGTGTCATTCCGCTGTTATGGCCGCGTTTATCTCATTCCACGCCTGACACTCAGTTCCGGGTAGGCAGTTCGCTCCAAGCTGGACTGTATGCACGAACCCCCCGTTCAGTCCGACTGCTGCGCCTGTTCCGGTAACTATCGACTTGAGTCCAACCCGGAAAGACACGACAAAGCGCCACTGGCAGCAGCCACTGGTAACGCGGAAGAGAAATTATGGTGAAGAAAAAGAGTAAAGGCGATATCAGCGAGTTGGGGCATGGTGTTAACTCGCGAGTTTTTAGAGAAAATACCGTGAGCTG" },
        { id: "Seq4091", sequence: "CGCCCTGTGAGGGGTTTTGACCCTTGTATGTCTGGTTGACCACTTCACACCCGAGGGGTCAATTCATCAGTCCGTTTGCCCCTCCCCCTCCCTGTGCTATTCCGGGTTGGACTCAAGATGATAGTTACCGGACAAGGCGCAGCAGTCGGACTGAACGGGGGGTTCGTGCATACAGTCCAGCTTGGAGCGAACTGCCTACCCGGAACTGAGTGTCAGGCGTGGAATGAGATAAACGCGGCCATAACAGCGGAATGACACCGGTAAACCGAAAGGCAGGAACAGGAGAGCGCACGAGGGAGCCACCAGGGGGAAACGCCTGGTATCTTTAAGTCCTGTCGGGTTTCGCCACCACTGATTTGAGCGTCAGATTTCGTGATGTGCAATGTGATGGAGTGGTAATTCCGGGTGCGGTAAGAAGGCAATGGTCTTTGGTTGTTTTTGCTACAGTGAGTTACGCCGGTAGAAAAGTTTGTTTCCG" },
    ];
    const batch2 = [
        { id: "Seq741", sequence: "AAGGATCTTCTTGAGATCCTTTCTGTGGCGTCGTAATCTCTTGCTCTGTAAACGAAAAAACCGCCCTGCAAGGCGGTTTTTCGAAGGTTCTCAGAGCAGCAACTCTTTGAACCGTGGTAACTGGCTTACGAGGAGCGCAGTAACCAAATCTGTTCTTTCAGTTTAGCCTTAACAGGCGCATAACTTCAAGACTAACTCCTCTAAATCAGTTACCAGTGGCTGCTGCCAGTGGCGATAAGTCGTGTCTTTCCGGGTTGGACTCAAGATGATAGTTACCGGATAAGGCGCAGCAGTCGGACTGAACGGGGGGTTCGTGCATACAGTCCATCCAGGAGCGAACTGCCTTCGCGGAACTGAGTGTCAGGCGTGGAATGAGATAAACGCGGCCATAACAGCGGAATGACACCGGTAAACCGAAAGGCAGGAATGCGGGGGAGCACGAGGGAGCCACCAGGGGGAAACGCCTGGTATCTTTAAGCCGCATCGGGTTTCGCCACCACTGATTTGAGCGTCAGATTTCATGATGTTTGTCAGGGGGGCGGAGCCTATGGAAAAACGGCTTCGCCGCGGCCTTATCTCTTCCCTGTTAAGCTCCTTCCTGGTATCTCCCAGGAAATTTCCGCCCCGCCTGTAAGCCGGCACCGCTCGCCGCAGCCGAACGACCGAGCGCAGCGAGTCAGTGAGCGAGGAAGCGGAATATATCCTGTACTACATATCCTGCTGACGCGCTGGTGCCGCCTTTTTTCTCCTGCTACATG" },
        { id: "Seq4089", sequence: "AATTTATAAAGGATCTTCTTGAGATCCTTTTTTTTCGCGCGTAATCTCTTGCCCTGTAAACGAAAAAACCACCCTGGCAGGTGGTTTTTCGAAGGTTAGGTAATCCTGGCAGATCCCCTAACCGTGGTAACAGTCTTGTGCGAGACATGTCACCAAATTTGTCCTTTCAGTGTAGCCTCACTAAGGCCGCCACTTCAAGAACTCTTGATACATCTCTCGCACATCCTGTTTACCAATGGCCGTTGCCAATGGCGATTAGTCGTGTCTTTCCGGGTTGGACTCAAGTTGATAGTTACCGGATAAGGCGCAGCGGTCGGACTGAACGGGGGGTTCGTGCATACAGTCCATCCTGGAGCGAACTGCCTTCCCGGAACTGAGTGTCAGGCGTGGAATGAGAAACCGCGGCCATAACAGCGGAGTGACACCGGTAAACCGAAAGGCAGGAATGCGGGGGAGCACGAGGGAGCCACCAGGGGGAAACGCCTGGTATCTTTAAGCCGCATCGGGTTTCGCCACCACTGATTTGAGCGTCAGATTTCGTGATGCTTGTCAGGGGGGCGGAGCCTATGGAAAAACGGCTTTGCCGTGGCCTTATGCCTTTTTCGCTAAGAACCTTCCTGGCATTCTCCAGGAAATTTCTGCTCTGTACGTAAGCCCGTACCGCTCGCCGCAGCCGAACGACCGAGCGCAGCGAGTCAGTGAGCGAGGAAGCGGAATATCTCCTGTATCACATATTCTGCTGACGCACCGATGCCGCCTTTTTCTCCTGCCACATGAAGCACTTAACTGACATCCGCATCCGTGCCAACATATTAAGCCAGTATACACTCCGCTAGCGCTGCGTGACTGGTCCGGCGCTGCGCCCGGAACCCG" },
        { id: "Seq5276", sequence: "CTTCTTGAGATCCTTTTTATCTGCGCGTAATCTCTTGCCCTGTAAACGAAAAAACCACCCTGGCAGGTGGTTTTTCGAAGGTTAGGTAATCCTGGCAGATCCCCTAACCGTGGTAACAGTCTTGTGCGAGACATGTCACCAAATTTGTCCTTTCAGTGTAGCCTCACTAAGGCCGCCACTTCAAGAACTCTTGAGACATCTCTCGCACATCCTGTTTGCCAATGGCCGTTGCCAATGGCGATTAGTCGTGTCTTTCCGGGTTGGACTCAAGTTGATAGTTACCGGATAAGGCGCAGCGGTCGGACTGAACGGGGGGTTCGTGCATACAGTCCATCCTGGAGCGAACTGCCTTCCCGGAACTGAGTGTCAGGCGTGGAATGAGAAACCGCGGCCATAACAGCGGAGTGACACCGGTAAACCGAAAGGCAGGAATGCGGGGGAGCACGAGGGAGCCACCAGGGGGAAACGCCTGGTATCTTTAAGCCGCATCGGGTTTCGCCACCACTGATTTGAGCGTCAGATTCTGTGATGCTTGTCAGGGGGGCGGAGCCTATGGAAAAACGGCTTTGGCGCGGCCTTATGCTTTCTTCGTTAAGTATCTTCCTGGCATCCCCCAGGAAATTTCTGATCCATCCGTAAGCCCGTCCCGCTCGCCGCAGCCGAACGACCGAGCGGAGCGAGTCAGTGAGCGAGGAAGCGGAATATATTCTGTATCACATTTTCTCCTGACGCGTTTTCTTTCACTTTCTGCGCCTGTCTTATGTGGCATTAATGCTATGTGTTACTGCCATGCTACATCTTAAGCCAGTATACACTCCGCTAGTGCTCCGTGACTGGTCCGGCGCTGCGCCCGGAACCCGC" },
        { id: "Seq5227", sequence: "TCTTCTTGAGATCCTTTTTATCTGCGCGTAATCTCTTGCCCTGTAAACGAAAAAACCACCCTGGCAGGTGGTTTTTCGAAGGTTAGGTAATCCTGGCAGATCCCCTAACCGTGGTAACAGTCTTGTGCGAGACATGTCACCAAATTTGTCCTTTCAGTGTAGCCTCACTAAGGCCGCCACTTCAAGAACTCTTGAGACATCTCTCGCACATCCTGTTTGCCAATGGCCGTTGCCAATGGCGATTAGTCGTGTCTTTCCGGGTTGGACTCAAGTTGATAGTTACCGGATAAGGCGCAGCGGTCGGACTGAACGGGGGGTTCGTGCATACAGTCCATCCTGGAGCGAACTGCCTTCCCGGAACTGAGTGTCAGGCGTGGAATGAGAAACCGCGGCCATAACAGCGGAGTGACACCGGTAAACCGAAAGGCAGGAATGCGGGGGAGCACGAGGGAGCCACCAGGGGGAAACGCCTGGTATCTTTAAGCCGCATCGGGTTTCGCCACCACTGATTTGAGCGTCAGATTCTGTGATGCTTGTCAGGGGGGCGGAGCCTATGGAAAAACGGCTTTGGCGCGGCCTTATGCTTTCTTCGTTAAGTATCTTCCTGGCATCCCCCAGGAAATTTCTGATCCATCCGTAAGCCCGTCCCGCTCGCCGCAGCCGAACGACCGAGCGGAGCGAGTCAGTGAGCGAGGAAGCGGAATATATTCTGTATCACATTTTCTCCTGACGCGTTTTCTTTCACTTTCTGCGCCTGTCTTATGTGGCATTAATGCTATGTGTTACTGCCATGCTACATCTTAAGCCAGTATACACTCCGCTAGTGCTCCGTGACTGGTCCGGCGCTGCGCCCGGAACCCGCC" },
        { id: "Seq6769", sequence: "GGCTTTTGGCGGGTTTCGGGGCGCAGCCCTGAACCAGTCACGCAGCGCTAGCGGAGTGTATACTGGCTTACTATGTTGGCACGGATGAGGGTGTCAGTGAAGTGCTTCATGTGGCAGGAGAAAAAAGGCGGCACCGGTGCGTCAGCAGAATATGTGATACAGGATATATTCCGCTTCCTCGCTCACTGACTCGCTACGCTCGGTCGTTCGGCTGCGGCGAGCGGAAATGGCTTACGAACGGGGCGGAGATTTCCTGGAAGATGCCAGGAAGATACTTAACAGGGAAGCGATAGGGTCGCGGCGAAGCCGTTTTTCCATAGGCTCCGCCCCCCTGACAAGCATCACGAAATCTGACGCTCAAATCAGTGGTGGCGAAACCCGACAGGACTATAAAGATACCAGGCGTTTCCCCCTGGTGGCTCCCTCGTGCGCTCTCCTGTTCCTGCCTTTCGGTTTACCGGTGTCATTCCGCTGTTATGGCCGCGTTTATCTCATTCCACGCCTGACACTCAGTTCCGGGTAGGCAGTTCGCTCCAAGCTGGACTGTATGCACGAACCCCCCGTTCAGTCCGACTGCTGCGCCTGTTCCGGTAACTATCGACTTGAGTCCAACCCGGAAAGACACGACAAAGCGCCACTGGCAGCAGCCATGAGTAAAGGGGTGTACAAGATTTACTGAGTGAGAGTTCTTGAAGTATCAGCCTTAGAGAGGCTAAACTGGAATAACAGAATTTGGTTTCAGCGGTCTTGTACACCCTGTTACCACGGTTCAGAAGTTCCCCAACTTACTGAACCCTCGAAAAAACCGACTCCCCAGTCGGTTTTTTTCGTTT" },
        { id: "Seq9371", sequence: "AAGGATTTCCTTGAGATCCTTTCTTTCTGCGCGTAATCTTTTTCCCTGTAAACAAAAAAACCACCGCTACCAACGGTGGTTCGTTTGCCGGAATTCAGAGCTACCAACTCTTTGTTCCGATGGTAACTGGCTTTCACGGAGCGCAGATACCTAAACTGTCCTTTCAGTGTAGCCGCACTCAGGCTTTCACTTCAAGAACTCTGTAGGCATTCTCTACAATCTCTGCTCCGTGAACCCAGTTACCAATGGCTACCGCCACTGGCGATTTGTCGTGTCTTTCCGGGTTGGACTCAAGTTGATAGTTACCGGAACGGGCGTGGTAGTCGGACTGAACGGGGGGTTCGTGCATACAGTCCATCCTGGAGCGAACTGCCTACCCGGAACCGAGTTTCAGGCGTGGAATGAGAAACCGCGGCCATAACAGCGGAATGACACCGGTAAACCGAAAGGCAGGAATGCGGGGGAGCACGAGGGAGCCACCAGGGGGAAACGCCTGGTATCTTTAAGCCGCATCGGGTTTCGCCACCGCTGATTTGAGCGTCATTTTCGTGATACTCGTCAGGGGGGCGGAGCCTATGGAAAAACG" },
        { id: "Seq1670", sequence: "AGTGTTGTAAAAGTGATGTATGAACTGAAGGAGCGATGTAATTCTGTAGTCAGGAAGAATAACCCGTTCATGCAGGCATGAACGATACAGTGAGGAACGCTTTTTTTGTCACGATCTCCCCTTAACCTGCGTAAATCACCCTCCATGGTTGATTATTTTTCAACCTCAAAATGGTCATACACCATACGCAACCGCGATTTTCATCGCAATTGCATGAATTAAAAGGTAAAAACTGAAGTTCCCGTTTATTTATGTAATACGCAACGTATTACAACCACCTGTAATCACATGAAAATAAAGAAATAAGATGTAATACCGCGTATTACACGTACGCGGGTAAGCGAAAAAGCTATAACGCTTCCCGGCCGACAGGCGGCCCAAAATCCACCGGGGCGTGCAGGTTCTCTTCAGTAACCTGCGCCATTAAATCAAAAAGGTCATATTCGCCGGGAAGCTGCGTATCAGTCGAATCCAGTTGTTCATCATATTCAGATGGCATGGGGTGATATCCAGTAGCGGAGAGGTTGTTAGCGGGTTTCGGAGCGCAGCCCTGAACCAGTCACGTAGCGCTAGCGGAGTGTACAGTGGCTGAATATGTTACGGCGGAGTAGCACCTAATGAAAGTGCTTCATGTGACAGGGGAAAATGCAGCTACAGGGCGTAAGGGAGAAAATGGGAGTTACGGTGATATGACGCCTCCTCGCTCACTCGGTCGCTACGCTCCTGCCGTGAGGCTGCGGCGGGCGTTACCTGCTCACGAAT" },
        { id: "Seq306", sequence: "GGACTGAACGGGGGGTTCGTGCATACAGTCCAGCTTGGAGCGAACTGCCTACCCGGAACTGAGTGTCAGGCGTGGAATGAGATAAACGCGGCCATAACAGCGGAATGACACCGGTAAACCGAAAGGCAGGAACAGGAGAGCGCACGAGGGAGCCGCCAGGGGGAAACGCCTGGTATCTTTATAGTCCTGTCGGGTTTCGCCACCACTGATTTGAGCGTCAGATTTCGTGATGCTTGTCAGGGGGGCGGAGCCTATGGAAAAACGGCTTCGCCGCGGCCCTATCGCTTCCCTGTTAAGTATCTTCCTGGCATCTTCCAGGAAATCTCCGCCCCGTTCGTAAGCCATTTCCGCTCGCCGCAGTCGAACGACCGAGCGTAGCGAGTCAGTGAGCGAGGAAGCGGAATATATCCTGTATCACATATTCTGCTGACGCTCCGGTGCCGCCTTTTTTCTCCTGCCACATGAAGCACTTTCCTGATACCCGCACTCATGCCAACATAGTAAGCCAGTATACACTCCGCTATCGCTACGTGACTGGGTCATGGCTGCGCCCCGACACCCGC" },
    ];

    function createDNAGallery(galleryId, sequences) {
        let currentIndex = 0;

        function updateSequence() {
            const sequenceIdElement = document.getElementById(`sequence-id-${galleryId}`);
            const sequenceContentElement = document.getElementById(`sequence-content-${galleryId}`);
            const prevButton = document.getElementById(`prev-button-${galleryId}`);
            const nextButton = document.getElementById(`next-button-${galleryId}`);

            sequenceIdElement.textContent = sequences[currentIndex].id;
            sequenceContentElement.textContent = sequences[currentIndex].sequence;

            prevButton.disabled = currentIndex === 0;
            nextButton.disabled = currentIndex === sequences.length - 1;
        }

        updateSequence();

        return function (direction) {
            currentIndex += direction;
            if (currentIndex < 0) currentIndex = 0;
            if (currentIndex >= sequences.length) currentIndex = sequences.length - 1;
            updateSequence();
        };
    }

    document.addEventListener('DOMContentLoaded', function () {
        window.changeSequence1 = createDNAGallery(1, batch1);
        window.changeSequence2 = createDNAGallery(2, batch2);
    });
</script>

{{ subpage("Introduction") }}
{% include 'pages/model/introduction.html' with context %}

{{ subpage("Methods") }}
{% include 'pages/model/methods.html' with context %}

{{ subpage("Discussion & Conclusion") }}
{% include 'pages/model/discussion-and-conclusion.html' with context %}

{{ subpage("Appendices") }}
{% include 'pages/model/appendices.html' with context %}

{% endblock %}

{% block references %}{% endblock %}
