{% extends "layout/layout.html" %}
  

{% block content %}
{{ heading("Notebook") }}
<div>
    {{subheading("The Lab Calendar")}}
    {{ img(cdn("wetlab-notes/week1to5.png"))}}
    {{ img(cdn("wetlab-notes/week6to9.png"))}}
    {{ img(cdn("wetlab-notes/week10to12.png"))}}
    {{ img(cdn("wetlab-notes/week13to15.png"))}}
</div>
<div>
    {{subheading("Wet Lab Notebooks")}}
    Download via links below:
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part1.pdf') }}">Part 1</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part2.pdf')}}">Part 2</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part3.pdf')}}">Part 3</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part4.pdf')}}">Part 4</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part5.pdf')}}">Part 5</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part6.pdf')}}">Part 6</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part7.pdf')}}">Part 7</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part8.pdf')}}">Part 8</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part9.pdf')}}">Part 9</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part10.pdf')}}">Part 10</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part11.pdf')}}">Part 11</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part131.pdf')}}">Part 13</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part14.pdf')}}">Part 14</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part15.pdf')}}">Part 15</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part16.pdf')}}">Part 16</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part17.pdf')}}">Part 17</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part18.pdf')}}">Part 18</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part19.pdf')}}">Part 19</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part20.pdf')}}">Part 20</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part21.pdf')}}">Part 21</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part22.pdf')}}">Part 22</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part23.pdf')}}">Part 23</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part24.pdf')}}">Part 24</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part26.pdf')}}">Part 26</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part27.pdf')}}">Part 27</a>
    <br>
    <a class="text-blue hover:underline" href="{{cdn('wetlab-notes/labnotes-part28.pdf')}}">Part 28</a>
    <p>Missing part numbers are due to oversized pdfs</p>
</div>
 



{% endblock %}
