{% extends "layout/layout.html" %}
{% set add_sidebar = true %}
  

{% block article_content %}
  {{ heading("Outreach") }}
  {{ subheading("Overview") }}
  <div>
    <p>
      The Outreach Sub-Team of iGEM Toronto 2024, newly formed this year,
      is dedicated to amplifying our project’s visibility and raising awareness
      about synthetic biology through dynamic platforms and targeted events. We take
      the lead in crafting our public narrative, engaging diverse audiences, and
      building connections beyond the lab. The outreach team is composed of multidisciplinary
      functional units focused on promotional material design, event organization, and video
      production, working collaboratively to maximize the reach and impact of our initiatives.
    </p>
  </div>

  {{ subheading("Focus Areas") }}
  {{ subsubheading("Driving Social Media Engagement") }}
  <div>
    <p>
      We actively manage and grow iGEM Toronto’s digital presence by producing engaging
      content that showcases our team’s journey, project progress, and the fascinating world
      of synthetic biology. Our creative approach helps build a broader, more connected
      community around iGEM Toronto’s initiatives.
    </p>
  </div>

  {{ subsubheading("Strategic Outreach & Community Building") }}
  <div>
    <p>
      Through organizing workshops, collaborative events, and educational campaigns, we
      actively promote iGEM Toronto’s project and the broader field of synthetic biology.
      Our initiatives are designed to engage students, researchers, and the general public,
      creating spaces for dialogue and collaboration. 
    </p>
  </div>

  {{ subheading("Achievements") }}
  {{ subsubheading("Expanding Social Media Footprint") }}
  <div>
    <p>
      Our team significantly amplified iGEM Toronto's online presence, driving an
      impressive <b>23.3% increase in Instagram followers</b>,
      alongside a <b>46.3% rise in engagement</b> and a remarkable <b>92.1% boost in reach</b> (Figure 1).
      We achieved this through consistent content creation, which included <b>20 new posts</b>
      averaging <b>100 likes each</b>. We also produced <b>5 reels</b> and curated <b>10 highlights</b>
      that effectively captured audience interest.
    </p>
    <p>
      We introduced innovative, interactive content such as the <b>"Sunday Sketches"</b>,
      a doodle series that portrays synthetic biology in a creative and engaging format.
      This initiative reflects our team's attitude and commitment to making science
      accessible and engaging. Additionally, we implemented Instagram <b>"Leads Takeovers"</b>
      series, where team leaders shared insights from their work, fostering deeper
      connections with our audience.
    </p>
    <p>
      Expanding our reach further, we ventured into <b>TikTok</b> to engage a broader, younger
      demographic. The account is already gaining traction, diversifying our outreach
      channels and allowing us to connect with a new segment of the audience interested
      in synthetic biology.
    </p>
  </div>

  {{ subsubheading("Collaborative Events & Community Engagement") }}
  <div>
    <p>
      Our team co-hosted seven major events in 2024-2025, collaborating with the
      University of Toronto’s Student Associations, human practices-focused groups,
      and external organizations to engage students, researchers, and the general
      public. Highlights include:
    </p>
    <ol>
      <li>
        <b>Paint & Sip:</b> A relaxed, creative event where participants engaged
        with the iGEM Toronto community while exploring artistic representations
        of synthetic biology concepts.
      </li>
      <li>
        <b>Debate Competition:</b> An interdisciplinary debate that sparked
        thought-provoking discussions around the ethical and practical applications
        of synthetic biology.
      </li>
      <li>
        <b>Synpec Workshop:</b> A hands-on workshop on molecular cloning, providing
        practical training and fostering connections between students and experts
        in the field.
      </li>
      <li>
        <b>Seminar & Guest Speaker Events:</b> Sminars featuring esteemed
        speakers like Dr. Hongwei Li, covering cutting-edge developments in the
        synthetic biology field.
      </li>
      <li>
        <b>Academic Clinic:</b> Academic support and career advice, bridging the
        gap between the scientific community and broader societal interests.
      </li>
    </ol>
  </div>

  {{ subheading("Upcoming Events") }}
  {{ subsubheading("Education Workshop with CAGIS") }}
  <div>
    <p>
      We will co-lead an educational workshop with the Human Practices Sub-Team in
      partnership with the Canadian Association for Girls In Science (CAGIS). This
      event will aim to inspire young girls by introducing them to synthetic biology
      through interactive activities and presentations, fostering early interest in
      the sciences.
    </p>
  </div>

  {{ subsubheading("Biotech and Life Science Case Competition") }}
  <div>
    <p>
      We will organize a biotech and life science-based case competition in
      collaboration with various life science student associations at the University
      of Toronto. This event will provide students with the opportunity to tackle
      real-world challenges, enhancing critical thinking and innovative problem-solving
      skills within the field of synthetic biology.
    </p>
  </div>

  {{ subheading("Looking back on success") }}
  By leveraging our growing social media platforms and executing successful events,
  the Outreach Sub-Team is not only raising awareness about synthetic biology but
  also driving meaningful connections between iGEM Toronto and a diverse audience.
  Our efforts continue to position us as a bridge between academia and the broader
  community, promoting education, collaboration, and innovation in the field of
  synthetic biology.

  <div class="flex items-center flex-col my-8 gap-4">
    <img class="lg:w-1/2 w-full" src="{{ new_cdn('outreach/outreach-summary.png') }}">
    <p>
      <b>Figure 1</b>
      iGEM Toronto 2024 Outreach Initiatives and Engagement Overview.
      Our Instagram posts outline the team’s promotional efforts, showcasing both
      social media activities and in-person events aimed at expanding engagement
      and raising awareness of synthetic biology.
    </p>
  </div>
{% endblock %}
