{% extends "layout/layout.html" %}
  

{% block content %}
{{ heading("Safety") }}
<div>
  <p>
    The project goal is to develop a bacteria that consumes formate or methanol
    as its main carbon source. Our bacteria (E. coli TB18) will be engineered
    with a plasmid expressing relevant gene products in methanol or formate
    assimilating metabolic pathways. The genetically engineered E. coli TB18
    will then be subjected to adaptive laboratory evolution. 
  </p>
</div>
<div>
  {{ subheading("Potential Hazard") }}
  <p>
    In a laboratory setting, Escherichia coli (E. coli) poses several hazards.
    Firstly, it can be a significant pathogen, causing infections in laboratory
    personnel if proper biosafety measures are not followed. Secondly, E. coli
    strains can carry antibiotic resistance genes, potentially leading to the
    spread of resistant strains within the lab environment. Lastly, there is a
    risk of accidental release of E. coli from the lab, which could have
    environmental consequences if the released strains are capable of surviving
    and proliferating outside controlled conditions.
  </p>
  <p>
    Methanol and formate can be hazardous to human health, causing toxic effects
    if ingested, inhaled, or absorbed through the skin. Additionally, they are
    highly flammable and should be stored and handled with care to prevent fire
    hazards and potential environmental harm.
  </p>
</div>
<div>
  {{ subheading("Safety Precaution") }}
  <p>
    With regards to safety, iGEM Toronto team is in full compliance with the
    safety and security requirements of the iGEM competition. The lab
    experiments were conducted in the University of Toronto Biomedical
    Engineering Teaching Lab and Biozone - Centre for Applied Bioscience and
    Bioengineering Research Lab. All laboratories fall under biosafety level 1
    and level 2.
  </p>
  <p>
    Before we start our work in the lab, all team members are required to
    complete EHS601 Laboratory Biosafety Training
    (https://ehs.utoronto.ca/our-services/biosafety/biosafety-training/) and
    pass the exams. In addition to the mandatory training by the University of
    Toronto Environmental Health & Safety Department, our lab members completed
    lab specific biosafety training, general lab safety and equipment training.
    At all times, our lab supervisor Gary Hoang (BME Teaching Lab) or Ethan Agena
    (Biozone) was present when our lab members were in the laboratory.
  </p>
</div>
<div>
  {{ subheading("Equipment and Spaces") }}
  <p>
    Our training session with our lab technician involves how to navigate the
    lab spaces safely. Separate training for using various laboratory equipment
    was conducted with graduate students.
  </p>
</div>
<div>
  {{ subheading("Waste treatment / inactivation procedures") }}
  <p>
    All members have adquate understanding of the protocol for the disposal of
    BSL level 1 microbes (autoclaving) and disposal of chemicals, biologicals,
    glass, and general waste in their appropriate waste containers. These ensure
    that the risk of chemical and biological contamination will be minimized and
    that no member will be hurt.
  </p>
</div>


{% endblock %}
