{% extends "layout/layout.html" %}
  

{% block content %}
{{ heading("Sponsors") }}
<div>
  <p>
    <ul>
      <li>IDT</li> 
      <div class="p-1 my-2 w-48 rounded-md bg-indigo-400 text-sm text-center text-white">
      Silver Tier
      </div>
      <li>Centre for Applied Bioscience and Bioengineering - Biozone - University of Toronto</li>
      <div class="p-1 my-2 w-48 rounded-md bg-indigo-400 text-sm text-center text-white">
        Gold Tier
        </div>
      <li>Institute of Biomedical Engineering - University of Toronto</li>
      <div class="p-1 my-2 w-48 rounded-md bg-indigo-400 text-sm text-center text-white">
        TBD
        </div>
      <li>Faculty of Applied Science - University of Toronto</li>
      <div class="p-1 my-2 w-48 rounded-md bg-indigo-400 text-sm text-center text-white">
        TBD
        </div>
      <li>University of Toronto Engineering Society</li>
      <div class="p-1 my-2 w-48 rounded-md bg-indigo-400 text-sm text-center text-white">
        TBD
        </div>
    </ul>
  </p>
</div>

{% endblock %}