{% extends "layout/layout.html" %}
{% set add_sidebar = true %}

{% block article_content %}
{{ heading("Wet Lab", show=False) }}

{{ subpage("Goals & Purpose") }}
{% include 'pages/wet-lab/goals-and-purpose.html' with context %}

{{ subpage("Design & Experiments") }}
{% include 'pages/wet-lab/design-and-experiments.html' with context %}

{{ subpage("Results & Proof of Concept") }}
{% include 'pages/wet-lab/results-and-poc.html' with context %}

{{ subpage("Parts") }}
{% include 'pages/wet-lab/parts.html' with context %}

{{ subpage("Safety") }}
{% include 'pages/wet-lab/safety.html' with context %}

{% endblock %}

{% block references %}{% endblock %}
