{% extends "layout/subpage.html" %}

{% block article_content %}
  {{ subpage_banner() }}
  {{subheading("Seminar")}}
<div>
  {{ img(new_cdn("human-practices/seminar-photo.png"), width="50%") }}

  <p>
    In our mission to raise awareness about antibiotic resistance [ABR], we aimed to highlight the potential of synthetic biology in addressing this pressing issue. Understanding that transparency in our methods is essential, we sought to educate future University of Toronto [UofT] students about our project and the broader implications of ABR. To accomplish this, we reached out to the SMC Mentorship program via email to explore the possibility of collaborating on a joint presentation aimed at incoming students. The primary objective was to introduce these students to the iGEM team and engage them in an informative online seminar focused on the critical issue of antibiotic resistance.
  </p>

  <p>

After establishing contact and receiving a positive response, we decided to broaden our outreach by involving two additional student clubs: Step-UOFT and Global Brigades. Both of these clubs are STEM-focused and emphasize the intersection of advocacy and science, making them ideal partners for this initiative.

    </p>

  <p>
To ensure smooth coordination, we organized and facilitated several meetings with representatives from iGEM, SMC Mentorship, Global Brigades, and Step-UOFT. During these meetings, we discussed logistics, including the seminar’s structure, content, and promotional strategies. Each team was tasked with developing personalized presentations that highlighted their unique perspectives and expertise on antibiotic resistance. Additionally, we planned comprehensive advertisement campaigns to maximize our reach. These campaigns included emails, posters, and social media posts, which were strategically designed to attract a large audience.
    </p>

  <p>
In the weeks leading up to the seminar, our combined efforts paid off as we successfully reached out to a substantial audience of both future and current UofT students, totaling approximately 600 participants. On the day of the seminar, each team delivered their presentations, providing valuable insights and raising awareness about antibiotic resistance. The collaborative effort not only educated the attendees but also fostered a sense of community and shared responsibility in addressing this global health challenge.

</p>

</div>


  {{subheading("Collaboration With SCC")}}
<div class="side-by-side">
<p>
In our ongoing efforts to raise awareness about antibiotic resistance, we collaborated with the University of Toronto Science Communication Club [SCC] to create an informative article on the topic. This article addresses critical aspects of antibiotic resistance, including what it is, how it spreads, and effective prevention strategies.
  </p>
  {{ img(new_cdn("human-practices/evil-guy.png"), width="50%") }}

</div>

<div>

    <p>
  The University of Toronto Science Communication Club focuses on the public communication of current science, technology, engineering, and mathematics [S.T.E.M.] research to non-experts and the general public. The club strives to make science more accessible by producing and sharing accurate, unbiased, and creative science media. In addition to building bridges between professionals and non-experts, the SCC aims to spark interest in science communication both within and beyond the University of Toronto.
  
      </p>
  
    <p>
  While the article is still in progress as illustrators are working on it, we look forward to sharing the draft below. Through this collaboration, we hope to engage a wider audience and foster a deeper understanding of antibiotic resistance and its implications for public health. Together, we are committed to enhancing the dialogue around this critical issue and empowering individuals with the knowledge they need to take action
  </p>
  
</div>


{% endblock %}
