{% extends "layout/subpage.html" %}

{% block article_content %}
  {{ subpage_banner() }}
  
<div>
  <p>
    Antibiotic Resistance has slowly risen to become one of the biggest health crises of our time, resulting in numerous deaths annually and threatening the advances in modern medicine [1]. However, this issue extends beyond medical consequences, affecting global development and undermining Sustainable Development Goals(SDGs) ; it also further exacerbates gender disparity and poverty. Antibiotic resistance is not merely a clinical challenge but also reflects systemic failure in healthcare, socioeconomic disparities and inadequate government [1].
  </p>
  <p>

    Addressing this multifaceted issue requires a solution that goes beyond conventional methods. In response to the issue Plasmid AI represents a reimagining of tackling antibiotic resistance. We are using AI to create resistance nullifying plasmids that can be transferred to healthy bacteria. This approach not only targets individual strains but is adaptable along a spectrum of resistance mechanisms, providing a more flexible solution to addressing antibiotic resistance.
  </p>
  <p>
    Central to our approach is the understanding that scientific innovation thrives when there is a people centered approach. Our Human Practices journey emphasizes that scientific innovation cannot thrive without the voices of the communities we aim to serve. We have engaged with and incorporated feedback from diverse stakeholders to ensure that our project has a holistic perspective and our solution resonates with real life experiences and needs. This year our community engagement project AImersion has allowed us to understand the cultural contexts that surround community perspectives, allowing us to design interventions that are impactful and informed.
  </p>

  <p>
    Building on last year’s efforts, our team has taken a more streamlined approach to inclusivity. We have focused on understanding whether our project has a direct impact on the vulnerable communities we aim to engage with, in order to avoid exploitation and ensure there is a meaningful exchange.
  </p>

  <p>
    We acknowledge the rapid evolution of AI and its role in our project, to responsibly harness this new technology we have developed a tailored framework incorporating elements from three existing models. Our approach emphasizes ethical AI usage, transparency, incorporating community engagement and a comprehensive risk assessment to ensure safety and transparency. By doing so we aim to set a standard for AI stewardship that aligns with technological advancements while being safe, ethical and community centered.

  </p>
  <p>
    In light of the current ecological crisis, we have conducted a thorough impact analysis, tracking our carbon footprint. In collaboration with a compliance officer from the Ministry of Environment we have developed a future plan to reduce our carbon footprint if our project is scaled up. This strategy ensures our project addresses antibiotic resistance while being sustainable.

  </p>
  <p>
    We understand the importance of inspiring individuals through synthetic biology. This year, we hosted a seminar for incoming freshmen to educate them about our project and the potential of synthetic biology. To foster communication we held a debate exploring the ethical side of our project. We also gathered feedback from our educational events to identify areas for improvement. Additionally our partnership with the Canadian Association for Girls in Science. Allowed us to host three engaging synbio workshops for ages 6-17, helping spark their interest in synthetic biology.
  </p>

  
</div>

{{subheading('STAKEHOLDER FRAMEWORK')}}
<div>
  <p>
      Our stakeholder framework was designed to ensure that there is a safe space for opinions to be voiced. We recognize that even if certain modifications might be challenging to implement, our goal is to find a middle ground that balances stakeholder satisfaction with feasibility.

  </p>
</div>




{% endblock %}
