{% extends "layout/subpage.html" %}

{% block article_content %}
  {{ subpage_banner() }}
  
<div>
  <p>
    Antibiotic Resistance has slowly risen to become one of the biggest health crises of our time, resulting in numerous deaths annually and threatening the advances in modern medicine [1]. However, this issue extends beyond medical consequences, affecting global development and undermining Sustainable Development Goals(SDGs) ; it also further exacerbates gender disparity and poverty. Antibiotic resistance is not merely a clinical challenge but also reflects systemic failure in healthcare, socioeconomic disparities and inadequate government [1].
  </p>
  <p>

    Addressing this multifaceted issue requires a solution that goes beyond conventional methods. In response to the issue Plasmid AI represents a reimagining of tackling antibiotic resistance. We are using AI to create resistance nullifying plasmids that can be transferred to healthy bacteria. This approach not only targets individual strains but is adaptable along a spectrum of resistance mechanisms, providing a more flexible solution to addressing antibiotic resistance.
  </p>
  <p>
    Central to our approach is the understanding that scientific innovation thrives when there is a people centered approach. Our Human Practices journey emphasizes that scientific innovation cannot thrive without the voices of the communities we aim to serve. We have engaged with and incorporated feedback from diverse stakeholders to ensure that our project has a holistic perspective and our solution resonates with real life experiences and needs. This year our community engagement project AImersion has allowed us to understand the cultural contexts that surround community perspectives, allowing us to design interventions that are impactful and informed.
  </p>

  <p>
    Building on last year’s efforts, our team has taken a more streamlined approach to inclusivity. We have focused on understanding whether our project has a direct impact on the vulnerable communities we aim to engage with, in order to avoid exploitation and ensure there is a meaningful exchange.
  </p>

  <p>
    We acknowledge the rapid evolution of AI and its role in our project, to responsibly harness this new technology we have developed a tailored framework incorporating elements from three existing models. Our approach emphasizes ethical AI usage, transparency, incorporating community engagement and a comprehensive risk assessment to ensure safety and transparency. By doing so we aim to set a standard for AI stewardship that aligns with technological advancements while being safe, ethical and community centered.

  </p>
  <p>
    In light of the current ecological crisis, we have conducted a thorough impact analysis, tracking our carbon footprint. In collaboration with a compliance officer from the Ministry of Environment we have developed a future plan to reduce our carbon footprint if our project is scaled up. This strategy ensures our project addresses antibiotic resistance while being sustainable.

  </p>
  <p>
    We understand the importance of inspiring individuals through synthetic biology. This year, we hosted a seminar for incoming freshmen to educate them about our project and the potential of synthetic biology. To foster communication we held a debate exploring the ethical side of our project. We also gathered feedback from our educational events to identify areas for improvement. Additionally our partnership with the Canadian Association for Girls in Science. Allowed us to host three engaging synbio workshops for ages 6-17, helping spark their interest in synthetic biology.
  </p>

  
</div>

{{subheading('STAKEHOLDER FRAMEWORK')}}
<div>
  <p>
      Our stakeholder framework was designed to ensure that there is a safe space for opinions to be voiced. We recognize that even if certain modifications might be challenging to implement, our goal is to find a middle ground that balances stakeholder satisfaction with feasibility. <BR>
    To achieve this, we designed a five part approach:<BR>
  </p>
  <p> 1. Identification of Key Stakeholders: Our first step in stakeholder engagement was to adopt a holistic approach by mapping stakeholders into specific sectors. This process helped ensure that we consider diverse viewpoints essential for the success of our project. We identified the following sectors</p>
  <ul>
    <li><strong>Healthcare:</strong> Engaging with healthcare professionals to understand the implications of antibiotic resistance is a healthcare setting </li>
    <lk> <strong>History : </strong> Reaching out to Historians to gather insights on how medical innovations throughout history have influenced public perceptions of healthcare inventions. Our aim was to understand how past advancements, along with colonial legacies and historical inequalities, shape contemporary attitudes towards medical inventions today specifically in the context of synthetic biology. </lk>
    <li><strong>Biosecurity:</strong>Consulting with biosecurity experts to address safety and regulatory considerations of our project such as the potential for dual use.</li>
    <li><strong>Community Engagement:</strong>Connecting with community members to gather diverse perspectives of AI integration into synthetic biology. We aim to promote inclusivity by understanding different viewpoints and we have encouraged individuals to also share their stories that led to this view point to explore the cultural contexts that shape these perspectives. This approach helps us create a more holistic understanding of community values and concerns related to our project
</li>
    <li><strong>Indigenous Communities:</strong>While we intended to engage with Indigenous communities to understand their perspectives on  AI in healthcare and antibiotic resistance, we faced challenges in connecting with relevant organizations. Despite these hurdles, we acknowledge the importance of engaging with vulnerable communities. We have done a preliminary impact assessment to identify the connection between our project and health concerns of Indigenous populations. Moving forward, we remain committed to continuing our efforts to contact and collaborate with Indigenous communities.
</li>
    <li><strong>Environmental Sector:</strong>  Reaching out to environmental experts to assess the ecological impacts of our project and how we can reduce our carbon footprint if our project were to scale up, to ensure that our project is sustainable and eco-friendly.


</li>
    <li><strong>Bioethics: </strong> Engaging with bioethicists to ensure the safety of our project, to navigate the moral implications of our project ensuring our approach is respectful and moral.</li>

    <li><strong>Academia: </strong> Contacting academic researchers specializing in antibiotic resistances and related fields to enhance our scientific approach. This helped ground our project in rigorous research.</li>
    
    
  </ul>
  
</div>




{% endblock %}
