{% extends "layout/subpage.html" %}

{% block content %}
  {{ subpage_banner() }}
  <div>
    {{ subheading("Introduction") }}
    <div>
      <p>
        iGEM Toronto was heavily focused on ensuring that our project revolved
        around “human-centered design”. To ensure that our project would solve
        problems concerning humans, it was critical for our team to involve
        and consider stakeholders throughout our project’s planning and
        development. Without the critical advice, feedback, and input from our
        various stakeholders, it would not have been possible to effectively
        reflect and consider all the nuances found in our project that we are
        able to demonstrate today. We ensured that we not only spoke to our
        stakeholders, but also listened to them, understood their backgrounds
        and values, in order to properly incorporate their feedback into our
        proposed solution.
      </p>
      <p>
        In order to determine if our project would impact Canada’s current
        methane emissions and climate crisis, a lot of effort was taken into
        the brainstorming, identification, and outreach of various stakeholders.
        Furthermore, with the help of our stakeholders and research, our team
        wanted to ensure that our project would be able to be properly
        implemented holistically in reducing Canada’s methane emissions.
        It was important for our team to not just offer a technical solution to
        stakeholders, but to demonstrate that our project fits in a greater
        narrative of current ongoing initiatives and movements to reduce methane
        emissions and landfill gas.
      </p>
      <p>
        It was important for our team to not just speak with stakeholders, but
        to understand their feedback and insights to gain a better understanding
        about how our project fits into the larger picture of the climate crisis
        and how it can be used to reduce methane emissions in Canada. Our Human
        Practices Wiki is separated into the following sections: 
      </p>
      <ul>
        <li>
          Human Practices Frameworks: these frameworks were used to ensure
          that each stakeholder conversation and interaction we had maximised
          its potential
        </li>
        <li>
          Regulative Politics and ethics: to demonstrate how our project would
          fit within Canada's landfill site and synthetic biology regulations
        </li>
        <li>
          Indigenous communities: Indigenous communities are a key stakeholder
          group in Canada in regards to the negative impacts of landfill sites
          and environmental racism within Canada
        </li>
        <li>
          Implementation: our team visited a landfill site in Ontario to
          understand the real-life implementation of our project
        </li>
        <li>
          Business: we considered how we would take our project and turn it
          into a potential start-up company
        </li>
        <li>
          Integrated Human Practices: conversations we had with key
          stakeholders across all subteams to demonstrate how their feedback
          directed and influenced our project
        </li>
      </ul>
    </div>
  </div>
  <div>
    {{ subheading("Frameworks") }}
    <div>
      <p>
        Our Human Practices team created frameworks that drove our stakeholder
        interactions at every step along the way. Beginning with the
        “Stakeholder Management Framework”, our team utilised this guide to
        consider how each stakeholder fits into the larger scope of our project.
        Next, our team created a “Feedback Cycle” framework that allowed our
        stakeholder conversations to be structured, efficient, and informative
        to ensure that we gained the absolute most out of each and every
        stakeholder interaction. Lastly, our team used the
        “Third-Party Feedback Template” to introduce our stakeholders,
        summarise our conversations, and demonstrate how our stakeholders drove
        the next steps of our project. 
      </p>
    </div>
    <div>
      {{ subsubheading("Stakeholder Management Framework") }}
      {{ img(cdn("human-practices/hp-stakeholder-management-framework.png"), width="80%",
                  alt="Stakeholder Management Framework") }}
      <p>
        In order to demonstrate to our stakeholders how and in which areas they can
        help us in our project, we created a stakeholder management framework
        identifying the four key areas in our project that require feedback.
        Beginning on the top right on the figure and moving clockwise, the
        first area that we saw required feedback was on the topic of
        implementation. Being able to properly ensure that our project has the
        necessary components in its design and application so that it can
        realistically be implemented at landfill sites for the conversion of
        landfill gas was important for our team to know that no component was
        missing in our project. Furthermore, being able to ensure that our
        project not only had the necessary design components, but also the
        correct business model and aims was also important to ensure that our
        project can successfully be implemented in real life. The next key area
        was for our stakeholders to help us investigate the sustainability and
        social impact of our project. We wanted to gain a better understanding
        of how our project currently fits in current sustainability efforts
        within Canada and Ontario, as well as understanding current social
        initiatives when it comes to landfill gas and other topics involved
        in the climate crisis and landfill sites. Next, we wanted to
        understand the public perception of our project. Since our project
        utilises synthetic biology to solve a climate issue, we wanted to
        understand the public perception of both synthetic biology and the
        climate crisis. To do so, we asked stakeholders about their own
        personal knowledge and experience with synthetic biology, and how they
        feel about its implementation in industry to solve a climate problem.
        Our last key area was to understand the regulatory and safety space
        for our project. Landfill sites in Ontario are highly regulated, and
        each municipality is responsible for their own landfill sites.
        Therefore, there can be quite a lot of variation regarding how each
        landfill is run. To understand if our project was following any
        necessary safety regulations in the field, it was important for us to
        speak with stakeholders that are familiar with the space and the
        regulatory environment. 
      </p>
    </div>
    <div>
      {{ subsubheading("The Feedback Cycle: The Human Practices Approach") }}
      {{ img(cdn("human-practices/hp-feedback-cycle.png"), width="80%",
                  alt="Feedback Cycle") }}
      <p>
        To drive conversation and ensure that our team makes the most from
        each stakeholder interaction, we created a feedback cycle that
        demonstrates the structure and provided us a framework going into
        each meeting. The first step in our cycle was to listen to what
        each stakeholder had to say about their experiences, personal story,
        or insight. Then, our team would follow-up by asking relevant
        questions, either to probe more deeply into what our stakeholder
        shared, or to begin a new topic or direction of conversation. Towards
        the end of the meeting, we would ask clarifying questions and
        reiterate some key points from the meeting to ensure that our
        understanding was correct and that the stakeholder did not want to
        add anything else. Lastly, we would pursue new directions and new
        ideas that the stakeholder meeting has catalysed, fostering our team
        to seek out innovative and novel ideas. 
      </p>
    </div>
    <div>
      {{ subsubheading("Third-Party Feedback Template") }}
      {{ img(cdn("human-practices/hp-third-party-feedback.png"), width="80%",
                  alt="Third-Party Feedback") }}
      <p>
        The last framework our team used to drive stakeholder interactions is
        our “Third-Party Feedback Template”, which we used to introduce
        individuals to our stakeholders and demonstrate their significance to
        our project. There are three main sections in this template, beginning
        with the important question of asking who our stakeholders are, and
        introducing their backgrounds and why we reached out to them. Next,
        we summarise the conversations and knowledge exchange that occurred
        during our interactions. Finally, we share our reflections from our
        stakeholder conversations and how these interactions drove the nex
        steps of our project. 
      </p>
    </div>
  </div>
{% endblock %}
