{% extends "layout/subpage.html" %}

{% block content %}
  {{ subpage_banner() }}
  <div>
    {{ subheading("Introduction") }}
    <div>
      <p>
        During our team's preliminary research, we found that Indigenous
        communities are heavily impacted by landfill sites due to environmental
        racism and a lack of resources {{ cite("indigenous_climate_hub") }}
        {{ cite("environmental_racism") }}. Environmental racism is an
        incredibly broad and nuanced topic, and includes actions that expose
        marginalized communities to contamination and pollution, having a lack
        of voice or representation in decision-making regarding the creation
        and management of landfill sites near their land, and slower rates of
        clean-up {{ cite("indigenous_climate_hub") }}{{ cite("environmental_racism") }}.
        While we were originally interested in how our project could
        potentially impact indigenous communities, after more thorough research
        it became apparent that indigenous communities are primarily affected
        by poor solid waste management and a lack of proper landfill site
        infrastructure and funding to properly collect, treat, and dispose of
        garbage {{ cite("indigenous_climate_hub") }}{{ cite("environmental_racism") }}.
        Our project is dependent upon utilizing a landfill site's already
        existing landfill gas capturing infrastructure to collect the landfill
        gas to our hardware system. Therefore, our hardware could not be
        implemented at landfill sites by or near indigenous communities that
        do not have the proper infrastructure already. This demonstrates a lack
        of resources, funding, and most of all, priority, that the government
        has given to our indigenous communities. Although our project cannot be
        directly implemented at their landfill sites, our team has therefore
        decided to use this opportunity to promote the unfair treatment and
        lack of resources indigenous communities face for their landfill sites,
        and to advocate for better landfill waste management on their land. 
      </p>
      <p>
        Inspired by our exploration of these issues and guided by the urgent
        need for cultural sensitivity and respect in collaborative efforts, we
        found inspiration in the work of Dr. Justina Ray, a distinguished
        conservationist and advocate for inclusive conservation projects with
        Indigenous communities. This revelation motivated us to create a
        practical resource—a guideline aimed at empowering researchers,
        organizations, and individuals with the knowledge and tools needed for
        meaningful and equitable engagement with Indigenous communities. 
      </p>
    </div>
  </div>
  <div>
    {{ subheading("Tips and Guidelines for Working with First Nation Communities") }}
    <div>
      <p>
        We acknowledge that all of us in Canada are on the traditional
        territory of many Indigenous nations. This idea is more than a
        statement. Engaging with Indigenous communities in research is a vital
        aspect of conducting studies that involve their lands, resources, and
        well-being. This document provides guidelines and tips to ensure
        respectful and effective interactions with Indigenous communities while
        conducting research. These guidelines and tips have been gathered from
        the invaluable expertise and insights of Prof. Shelby Riskin and Prof.
        Justina Ray. Through their extensive experience and dedication to
        working with Indigenous communities, they have provided invaluable
        guidance in shaping these recommendations for respectful and effective
        interactions in research involving First Nation communities.
      </p>
    </div>
    <div>
      {{ subsubheading("Build relationships and establish trust") }}
      <p>
        Prioritize building relationships with community members before
        initiating research. Attend community events, engage in open dialogue,
        and actively listen to community concerns and priorities. Identify and
        approach community leaders, elders, and Knowledge Keepers as key
        partners in the research process. Seek their guidance and respectfully
        follow their protocols for engagement.
      </p>
    </div>
    <div>
      {{ subsubheading("Obtain informed consent and maintain confidentiality") }}
      <p>
        Prioritize obtaining informed consent from individuals and the
        community as a whole. Provide clear and accessible information about
        the purpose, risks, benefits, and potential outcomes of the research.
        Respect community decisions regarding data ownership and
        confidentiality. Seek consent before sharing or publishing any
        community-specific information, ensuring anonymity and confidentiality
        where required.
      </p>
    </div>
    <div>
      {{ subsubheading("Respect cultural protocols and local knowledge") }}
      <p>
        Obtain permission before entering Indigenous lands or conducting
        research on culturally sensitive topics. Respect community boundaries
        and practices. Recognize and respect the unique knowledge systems and
        traditional ecological knowledge held by Indigenous communities.
        Collaborate to integrate indigenous insights into the research design,
        data interpretation, and analysis.
      </p>
    </div>
    <div>
      {{ subsubheading("Communicate clearly and transparently") }}
      <p>
        Use clear and jargon-free language when communicating with Indigenous
        communities. Ensure that all information, consent forms, and project
        documentation are accessible, culturally appropriate, and available in
        both English and Indigenous languages. Provide regular updates to the
        community, keeping them informed about the progress, findings, and any
        potential impacts of the research. Share information in community
        spaces, such as community centers or council meetings, using multiple
        communication channels to reach a broader audience.
      </p>
    </div>
    <div>
      {{ subsubheading("Recognize and accommodate community protocols and timelines") }}
      <p>
        Respect the community's sense of time and recognize that
        decision-making processes may take longer due to the importance placed
        on consensus-building. Be patient and flexible, allowing adequate time
        for community consultations and engagement. Familiarize yourself with
        the community's protocols and procedures for meetings, ceremonies, and
        other cultural activities. Seek guidance from community members to
        ensure that research activities align with cultural customs and
        traditions.
      </p>
    </div>
    <div>
      {{ subsubheading("Consider community research priorities") }}
      <p>
        Engage in active dialogue with community members to identify their
        research priorities related to landfill gas impacts. Prioritize
        community concerns and seek to address their questions and interests
        through the research project. Ensure that research activities are
        relevant and beneficial to the community. Collaboratively determine the
        research scope, objectives, and methodologies that align with community
        needs and interests.
      </p>
    </div>
    <div>
      {{ subsubheading("Respect intellectual property and traditional knowledge") }}
      <p>
        Obtain consent and respect protocols when accessing and utilizing
        Indigenous intellectual property or traditional knowledge. Seek
        permission from Knowledge Keepers and Elders before documenting or
        incorporating traditional knowledge into the research. Protect
        Indigenous intellectual property rights and ensure that any use of
        traditional knowledge or cultural materials is done with the
        community's explicit consent, acknowledging their ownership and
        providing appropriate attribution.
      </p>
      <p>
        Facilitate knowledge exchange between academic researchers and
        Indigenous Knowledge Keepers, fostering a reciprocal learning
        environment that respects and values both Western and Indigenous
        knowledge systems.
      </p>
    </div>
    <div>
      {{ subsubheading("Respect community decision-making processes") }}
      <p>
        Understand that decision-making processes in Indigenous communities
        often involve community councils, elders, and knowledge holders. Seek
        guidance from community leaders on how decisions are made and ensure
        that research activities align with their protocols. Be prepared to
        adapt the research project based on community feedback and decisions.
        Collaborate with community members to develop strategies for resolving
        conflicts or addressing any concerns that may arise during the research
        process.
      </p>
    </div>
  </div>
  
{% endblock %}
