{% extends "layout/subpage.html" %}

{% block article_content %}
  {{ subpage_banner() }}

<div>

  {{ img(new_cdn("human-practices/web-ihp.png"), width="50%") }}

  <p>

  This year our Integrated Human Practices efforts were driven by meaningful engagements with a diverse array of stakeholders including academic experts, healthcare workers, patients, environmental specialists, pharmacists, and members of the community. Their feedback has helped refine and shape Plasmid AI into a project that is technologically safe, scientifically robust, ethically grounded and sustainability-focused. This year, we have also focussed on including the historical and cultural perspectives of community members in our feedback cycles.We are grateful for all the insights shared throughout this journey. 

 </p>

  <p>

On this page, we will detail the diverse methods employed to engage our stakeholders, emphasizing the breadth of perspectives considered throughout the process. We will outline the background research that has shaped our project, providing context for our design and decision-making. Additionally, we will reflect on the key lessons learned during our journey, highlighting how these insights have informed our approach and how we have integrated feedback received into our project. This iterative process has ensured that Plasmid AI not only meets technical challenges but also serves the broader community's needs, positioning it as a meaningful advance in the field

</p>    


</div>


{{subheading("Defining Our Application")}}
<div>
  <p>
  Our journey in Integrated Human Practices began with a critical examination of the pressing issues our technology could address, marking a step in the development of Plasmid AI as a foundational advance in synthetic biology. We explored significant environmental challenges such as bioremediation and wastewater management, as well as opportunities to improve gut microbiome therapy, biofuel generation, conservation efforts, agricultural practices, and antibiotic resistance.

 </p>

 <p>
Through extensive background research and engaging conversations with stakeholders, we identified antibiotic resistance as an urgent global health threat that our technology could lay the groundwork for to tackle in the future. The following section dives into the background research and conversations we had with stakeholders, explaining why we chose to focus on antibiotic resistance (ABR) for Plasmid AI.

</p> 

</div>

{{subheading("Laying the Foundation: Background Research")}}

{{subsubheading("Bioremediation and Waste Water Management")}}

<div>

  <p>
  One of the applications our research focused on, was bioremediation and wastewater management, critical areas that blend environmental sustainability with synthetic biology. We explored using microbes to degrade harmful pollutants in wastewater, emphasizing the importance of Horizontal Gene Transfer, which enables bacteria to acquire genes for enhanced degradation. However, wastewater treatment plants can also facilitate the spread of antibiotic resistance genes, creating both opportunities and challenges [1][2].

    </p>

  <p>
Although genetically engineered microbes show promise, gaps in models predicting gene transfer permissivity exist, highlighting an area our project could address. The economic implications are significant, with implementation costs ranging from $200,000 to over $4 million [3][4]. Despite their potential benefits, bioremediation methods require optimization for scalability [5][6]. To deepen our insights, we consulted with an Associate Engineer from the Ministry of Environment.

  </p>

  
</div>

{{subsubheading("Conservation")}}

<div>

<p>
  The emerald ash borer (EAB), an invasive beetle from Asia, poses a significant threat to North American ash trees, leading to rapid tree death and an estimated loss of 2 billion trees in Canada over the next two decades [8]. Current management primarily involves the costly application of insecticides, which can be toxic to non-target organisms[9].

  </p>
<p>
Our project considered leveraging RNA interference (RNAi) as an innovative pest management strategy. RNAi targets specific genes in EAB to induce mortality, with the potential to use machine learning for optimizing the design of double-stranded RNA (dsRNA) plasmids. Application methods such as foliar sprays and trunk injections were explored to deliver the dsRNA effectively [10][11].
  </p>
  <p>
Ultimately, we decided not to pursue this approach due to the complexities of dsRNA production, potential environmental impacts, and the need for extensive optimization before practical application could be realized. Our focus shifted toward other solutions that better align with our project goals and capabilities.
    </p>
</div>

{{subsubheading("Gut Microbiome Therapy")}}

<div>

  <p>
  Major depressive disorder (MDD) represents a significant global mental health challenge, with growing evidence linking gut microbiota dysbiosis to its pathogenesis [12]. Alterations in microbial diversity and specific bacterial taxa, particularly increases in pro-inflammatory bacteria and decreases in anti-inflammatory ones, have been observed in MDD patients. Key affected phyla include Firmicutes, Actinobacteria, and Bacteroidetes, suggesting that dysbiosis may exacerbate MDD symptoms [13]. Various microbiota-targeted therapeutics—such as dietary interventions, fecal microbiota transplantation (FMT), probiotics, prebiotics, synbiotics, and postbiotics—show potential in alleviating depressive symptoms, though further research is needed to validate their clinical application [14].
    </p>
  <p>
Despite the promising therapeutic avenues, we chose not to pursue gut microbiome therapy for MDD due to the complexities of gut-brain interactions and the need for extensive research to establish causality between microbial composition and MDD. Additionally, the variations in individual responses to microbial-targeted therapies and concerns regarding the safety of live probiotics in vulnerable populations led us to focus on other, more straightforward therapeutic strategies that align better with our project objectives [15].
    </p>

</div>

{{subsubheading("Agriculture")}}

<div>
  <p>
  Agriculture has seen transformative advancements through artificial intelligence (AI) and synthetic biology. AI applications encompass crop management, water management, soil management, and pest control, utilizing techniques like machine learning and robotics to optimize efficiency [16]. However, the implementation challenges, particularly the high costs and the need for digital literacy among small and medium producers, hinder accessibility and scalability. Similarly, synthetic biology presents innovative strategies, such as improving nitrogen fixation and enhancing food nutrition [17], yet these require substantial research, regulatory approvals, and careful consideration of ecological impacts.
    </p>

  <p>
Despite the potential benefits of these technologies, we chose not to pursue them for our project. The complexity and costs associated with AI technologies present significant barriers to adoption, particularly for smaller agricultural units.

    </p>

</div>


{{subsubheading("Biofuel")}}

<div>
<p>
Artificial bacteria are engineered to convert biomass into biofuels, such as ethanol or butanol, representing a compelling application of synthetic biology [19]. Biomass, which encompasses organic materials derived from plants and agricultural residues, serves as a sustainable feedstock for biofuel production due to its abundance and renewability [20]. However, direct conversion of biomass into biofuels poses significant challenges due to its complex structure, particularly the lignocellulosic components that are difficult to break down [21]. While recent advancements in metabolic engineering and synthetic biology show promise for enhancing biomass degradation through artificial microbial consortia, we ultimately chose not to pursue this application due to uncertainties regarding the integration of artificial intelligence (AI) into this process and how it would contribute to overcoming the existing challenges in biofuel production.

  </p>

  <p>
While the potential to create artificial bacteria for biofuel production is intriguing, we felt that the current state of research did not provide a clear pathway for effective implementation.

    </p>
</div>

{{subsubheading("Antibiotic Resistance")}}

<div>

  <p>

  Research has indicated that artificial intelligence [AI] can play a transformative role in the discovery of new antibiotics, particularly against critical pathogens like Acinetobacter baumannii [16]. This finding sparked our interest to further explore this direction, especially given the pressing need to combat antibiotic resistance, which poses significant public health risks. With agriculture accounting for approximately 82% of antibiotic use in Canada, understanding its implications are vital [22]. While we acknowledged the challenges posed by biases in AI models and the potential for unreliable outputs [17], we felt that the urgent need for solutions to antibiotic resistance [ABR] outweighed these concerns. This awareness motivated us to explore a plasmid-based AI approach, which we believe can effectively contribute to addressing the critical issue of antibiotic resistance.

    </p>

  <p>
Current strategies to combat antibiotic resistance (ABR) include the discovery of novel antibiotics through modifications of existing compounds and exploration of unconventional sources [23]. Enhancing the efficacy of current antibiotics involves metabolic stimulation and novel delivery systems [24]. Alternative treatments, such as bacteriophages, anti-biofilm drugs, probiotics, nanomaterials, vaccines, and antibody therapies, are also under investigation [25]. However, antibiotic resistance primarily arises from plasmid-encoded genes that confer resistance to multiple antibiotic classes [26]. Plasmids can be transferred between bacterial cells, allowing the rapid spread of resistance traits [27]. This mechanism of resistance transfer has prompted our focus on the possibility of using our technology to combat this issue in the future.

    </p>

</div>


{{subheading("Assessing Focus Areas: Stakeholder Insights")}}
<div>
  <p>
    After our background research, we decided to engage with individuals from the Ministry of Environment and the healthcare sector to help us choose between bioremediation, wastewater management, and tackling antibiotic resistance. This outreach was essential for understanding the practical challenges and needs associated with each area. By speaking with stakeholders, we aimed to gather insights on current practices and the efficacy of existing solutions. Ultimately, this engagement helped clarify our project focus on antibiotic resistance, as it presented the most pressing public health risks and aligned well with our goal of leveraging plasmid-based AI to combat superbugs.
  </p>
</div>







  
{% endblock %}
