{% extends "layout/subpage.html" %}

{% block article_content %}
  {{ subpage_banner() }}
  <div>
    <p>As we enter the Anthropocene epoch—a period characterized by significant human impact on the Earth’s geology and ecosystems—we find ourselves on the brink of an ecological crisis. Climate change, biodiversity loss, and resource depletion pose unprecedented challenges that necessitate immediate action. In this context, understanding and mitigating the carbon footprint of technological projects, such as Plasmid AI, becomes increasingly critical. By assessing and reducing our carbon emissions, we can contribute to sustainable practices that help safeguard the planet for future generations.</p>
  </div>



{% endblock %}
