{#
  Core template for all pages. Loads dependencies and the head.
#}


<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <title>iGEM Toronto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="{{ url_for('dist', filename = 'output.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename = 'fonts.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <script src="{{ url_for('modules', module_path = 'alpinejs/dist/cdn.min.js') }}" defer></script>
  </head>
  {% block body %}
  {% endblock %}
</html>
