{#
  Template for most pages that contain primarily text and use citations.
#}

{% extends 'layout/core.html' %}
{% from 'layout/utility_macros.html' import heading, subheading, subsubheading,
  subsubsubheading, cite, banner, img, subpage, subpage_banner, pdf with context %}

{% block body %}
  <body class="w-full min-h-screen flex flex-col justify-between"
    x-data="globalData()">
    <script>
      function globalData() {
        let subpagesDiv = document.getElementById('subpages-json');
        let subpages, selectedSubpage;
        let nodes = []

        if (subpagesDiv) {
          let hash = window.location.hash;
          let possibleSubpage = 0;
          subpages = JSON.parse(subpagesDiv.innerHTML);

          if (hash.length > 1) {
            possibleSubpage = subpages.findIndex(s => hash.slice(1).startsWith(s.key));
            if (possibleSubpage < 0) {
              possibleSubpage = 0;
            }
          }

          selectedSubpage = subpages.length > 0 ? possibleSubpage : -1;
        } else {
          subpages = [];
          selectedSubpage = -1;
        }

        for (let subpage of subpages) {
          for (let subheading of subpage.subheadings) {
            nodes.push([subheading.key, document.getElementById(subheading.key)])
            for (let subsubheading of subheading.subsubheadings) {
              nodes.push([subsubheading.key, document.getElementById(subsubheading.key)])
            }
          }
        }

        let selectSubpage = (index) => {
          window.location.hash = subpages[index].key;
        };

        return {
          openNavHead: -1,
          selectSubpage: selectSubpage,
          scrolledHeading: "",
          subpages: subpages,
          selectedSubpage: selectedSubpage,
          subpageSelectorExtended: false,
          scrollToHash() {
            if (window.location.hash.length > 1) {
              let el = document.getElementById(window.location.hash.slice(1));
              if (el) {
                el.scrollIntoView({ behavior: 'smooth' });
              }
            }
          },
          init() {
            let el = this;

            addEventListener('hashchange', (e) => {
              let hash = window.location.hash;
              let possibleSubpage = 0;

              if (hash.length > 1) {
                possibleSubpage = subpages.findIndex(s => hash.slice(1).startsWith(s.key));
                if (possibleSubpage >= 0) {
                  el.selectedSubpage = possibleSubpage;
                  el.$nextTick(el.scrollToHash);
                }
              }
            })

            addEventListener('scroll', (e) => {
              const displaySubsubheadings = nodes.filter(n => n[0].startsWith(subpages[el.selectedSubpage].key))
              let index = 0
              for (let heading of displaySubsubheadings) {
                let boundingRect = heading[1].getBoundingClientRect()
                let nextBoundingRect = displaySubsubheadings[index + 1][1]
                nextBoundingRect = nextBoundingRect
                  ? nextBoundingRect.getBoundingClientRect()
                  : null

                if (boundingRect.top > 0
                    || (nextBoundingRect && nextBoundingRect.top > window.innerHeight)) {
                  el.scrolledHeading = heading[0]
                  let subIndex = subpages[selectedSubpage]
                    .subheadings
                    .findIndex(e => heading[0].startsWith(e.key))
                  el.openNavHead = subIndex
                  break
                }

                index++
              }
            })
          }
        }
      }
    </script>
    <div>
      <div id="full-width-header">
        {% include 'layout/header.html' %}
        {% block banner %}{% endblock %}
      </div>
      <div class="w-full">
        {% block full_page_content %}{% endblock %}
      </div>
      <div class="flex flex-row-reverse place-content-center">
        <div class="px-4 py-8 max-w-[110ch]">
          <div class="content-wrapper">
            {% block article_content %}{% endblock %}
          </div>
          {% if citer.references() %}
            {% block references %}
              {% include 'layout/references.html' %}
            {% endblock %}
          {% endif %}
        </div>
        {% if add_sidebar is defined and add_sidebar %}
          {% include 'layout/sidebar.html' %}
        {% endif %}
      </div>
    </div>
    {% include 'layout/subpage-bottom-nav.html' %}
    {% include 'layout/footer.html' %}

    <div id="subpages-json" class="hidden">{{ subpages|tojson }}</div>
  </body>
{% endblock %}
