{#
  Template for most pages that contain primarily text and use citations.
#}

{% extends 'layout/core.html' %}
{% from 'layout/utility_macros.html' import heading, subheading, subsubheading,
  subsubsubheading, cite, banner, img, subpage, subpage_banner, pdf, arrow_button with context %}
{% from 'layout/carousel.html' import carousel_navigation with context %}

{% block body %}
  <body class="w-full min-h-screen flex flex-col justify-between"
    x-data="globalData()" @hashchange.window="onHashChange($data, $nextTick)">
    <script>
      function getScrollPoint() {
        return window.screen.availHeight / 4
      }
      function onHashChange($data, $nextTick) {
        let hash = window.location.hash;
        let possibleSubpage = 0;

        if (hash.length > 1) {
          possibleSubpage = $data.subpages.findIndex(s => hash.slice(1).startsWith(s.key));
          if (possibleSubpage >= 0) {
            $data.selectedSubpage = possibleSubpage;
            $nextTick(() => $data.scrollToHash($data));
            $data.sidebarExtended = false
          }
        }
      }
      function globalData() {
        let subpagesDiv = document.getElementById('subpages-json');
        let subpages, selectedSubpage;
        let nodes = []

        if (subpagesDiv) {
          let hash = window.location.hash;
          let possibleSubpage = 0;
          subpages = JSON.parse(subpagesDiv.innerHTML);

          if (hash.length > 1) {
            possibleSubpage = subpages.findIndex(s => hash.slice(1).startsWith(s.key));
            if (possibleSubpage < 0) {
              possibleSubpage = 0;
            }
          }

          selectedSubpage = subpages.length > 0 ? possibleSubpage : -1;
        } else {
          subpages = [];
          selectedSubpage = -1;
        }

        for (let subpage of subpages) {
          for (let subheading of subpage.subheadings) {
            nodes.push([subheading.key, document.getElementById(subheading.key)])
            for (let subsubheading of subheading.subsubheadings) {
              nodes.push([subsubheading.key, document.getElementById(subsubheading.key)])
            }
          }
        }

        let selectSubpage = (index) => {
          window.location.hash = subpages[index].key;
        };

        return {
          openNavHead: -1,
          selectSubpage: selectSubpage,
          scrolledHeading: "",
          subpages: subpages,
          selectedSubpage: selectedSubpage,
          subpageSelectorExtended: false,
          sidebarExtended: false,
          scrollToHash(el) {
            if (window.location.hash.length > 1) {
              let target = document.getElementById(window.location.hash.slice(1));
              if (target) {
                const scrollTop = document.documentElement.scrollTop || document.body.scrollTop
                const targetY = target.getBoundingClientRect().top
                const scrollY = scrollTop + targetY - getScrollPoint() + 10
                window.scrollTo({ top: scrollY, behavior: 'smooth' })
              }
            }
          },
          init() {
            let el = this

            addEventListener('scroll', (e) => {
              const el = this

              const shownHeadings = nodes
                .filter(n => n[0].startsWith(subpages[el.selectedSubpage].key))
              const threshold = getScrollPoint()

              let selectedHeading = nodes[0]

              for (const heading of shownHeadings.slice(1)) {
                const boundingRect = heading[1].getBoundingClientRect()
                const headingY = boundingRect.y

                if (headingY > threshold) {
                  break
                } else {
                  selectedHeading = heading
                }
              }

              el.scrolledHeading = selectedHeading[0]
              const subIndex = subpages[el.selectedSubpage]
                .subheadings
                .findIndex(e => selectedHeading[0].startsWith(e.key))
              el.openNavHead = subIndex
            })
          }
        }
      }
    </script>
    <div class="mb-36">
      <div id="full-width-header" class="mb-12">
        {% include 'layout/header.html' %}
        {% block banner %}{% endblock %}
      </div>
      <div class="w-full">
        {% block full_page_content %}{% endblock %}
      </div>
      <div class="flex flex-row-reverse w-full justify-center lg:gap-8">
        <div class="content-wrapper w-full lg:w-[100ch] px-4">
          {% block article_content %}{% endblock %}
          {% if citer.references() %}
            {% block references %}
              {% include 'layout/references.html' %}
            {% endblock %}
          {% endif %}
        </div>
        <div class="flex lg:w-[15%]">
          {% if add_sidebar is defined and add_sidebar %}
            {% include 'layout/sidebar.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    {% block bottom_banner %}{% endblock %}
    {% include 'layout/footer.html' %}

    <div id="subpages-json" class="hidden">{{ subpages|tojson }}</div>
  </body>
{% endblock %}
