<div  x-data="sideBar()"
      class="lg:w-2/12" x-cloak>
  <script>
    function sideBar() {
      return {
        extended: false,
      }
    }
  </script>
  <div
      id="side-bar"
      class=" lg:sticky lg:w-full
              ease-in duration-200
              lg:block lg:left-0
              lg:translate-x-0 lg:h-auto lg:py-0 lg:ml-4 lg:bg-transparent lg:overflow-y-auto
              fixed bg-white
              left-0 top-0 py-10 w-screen h-screen text-left overflow-y-scroll font-roboto"
      :class="{ '-translate-x-full': !extended }">
    <div class="px-3 lg:border-l-2 lg:border-gray-400 mt-8">
      <ul class="flex flex-col gap-0">
        <template x-for="(subheading, index) in (selectedSubpage >= 0 ? subpages[selectedSubpage].subheadings : [])"
            :key="subheading.key">
          <li class="mb-4 flex flex-col">
            <a @click="openNavHead = index" :href="`#${subheading.key}`"
              class="hover:text-accent-saturated-purple
              text-base ease-in duration-100"
              x-text="subheading.text"
              :class="{ 'text-accent-saturated-purple': scrolledHeading == subheading.key, 'text-gray-400': scrolledHeading != subheading.key  }"></a>
            </a>
            <ul class=" px-2 border-gray-400
                        lg:border-l-2 lg:border-r-0
                        border-l-2
                        flex flex-col gap-2"
                x-show="openNavHead == index">
              <template x-for="subsubheading in subheading.subsubheadings" :key="subsubheading.key">
                <li>
                  <a :href="`#${subsubheading.key}`"
                    @click="extended = false">
                    <div class="text-md text-gray-400
                        ease-in duration-100 hover:text-accent-saturated-purple
                        text-left" x-text="subsubheading.text"
                        :class="{
                          'text-accent-saturated-purple': scrolledHeading == subsubheading.key,
                          'text-gray-400': scrolledHeading != subsubheading.key
                        }">
                  </div>
                  </a>
                </li>
              </template>
            </ul>
          </li>
        </template>
      </ul>
    </div>
  </div>
  <div
    @click="extended = !extended"
    class=" lg:hidden
            block fixed top-1/2 left-0 p-1 rounded-r-md bg-slate-300 opacity-50">
    <svg  viewBox="0 0 50 100"
          class="h-10 ease-in duration-200"
          :class="{ 'rotate-y-180': extended }">
      <path d="M 10 0 L 50 50 L 10 100 L 0 90 L 35 50 L 0 10 L 10 0" fill="black"/>
    </svg>
  </div>
</div>
