@font-face {
    font-family: "Inter";
    src: url("fonts/Inter.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf") format("truetype");
    font-display: block;
}
