@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    @apply text-base text-justify hyphens-auto font-inter my-2;
}

li {
    @apply text-base text-justify hyphens-auto font-inter;
}


a {
    @apply text-accent-saturated-purple;
}

h1 {
    @apply text-4xl lg:text-5xl;
}

h2 {
    @apply text-3xl lg:text-4xl font-roboto font-bold mb-2;
}

h3 {
    @apply text-2xl font-roboto;
}

h4 {
    @apply underline-offset-4 underline text-base font-roboto;
}

div + h2 {
    @apply mt-12;
}

div + h3 {
    @apply mt-8;
}

h1 + div {
    @apply mt-2 mb-4
}

h2 + div {
    @apply mt-2 mb-4
}

h3 + div {
    @apply mt-2 mb-4
}

h4 + div {
    @apply mt-2 mb-4
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.content-wrapper > div:not(.custom) table {
    @apply table-auto text-base font-inter;
}

.content-wrapper > div:not(.custom) table tbody {
    @apply text-base font-inter;
}

.content-wrapper > div:not(.custom) table thead tr th {
    @apply p-2.5;
}

.content-wrapper > div:not(.custom) table tbody tr td {
    @apply p-2.5;
}

.content-wrapper > div:not(.custom) table thead {
    @apply border-y-2 border-black;
}

.content-wrapper > div:not(.custom) table tbody tr:last-child {
    @apply border-b-2 border-black;
}

.content-wrapper > div:not(.custom) ul {
    @apply list-outside list-disc pl-6;
}

.content-wrapper > div:not(.custom) ol {
    @apply list-decimal list-outside pl-8
}

.content-wrapper > .image {
    @apply w-full h-auto px-8;
}

.content-wrapper > .image img {
    @apply w-full h-auto;
}

.side-by-side {
    @apply flex lg:flex-row flex-col gap-x-4 items-center;
}

.side-by-side > * {
    @apply flex-1;
}

*[x-cloak] {
    @apply hidden
}

table.entrepreneurship-team {
    @apply w-full;
}

table.entrepreneurship-team th {
    @apply bg-accent-saturated-purple text-primary-light text-left;
}

table.entrepreneurship-team tr {
    @apply px-4;
}

table.entrepreneurship-team tr:nth-child(even) {
    @apply px-4 bg-slate-300;
}

table.entrepreneurship-team td, table.entrepreneurship-team th {
    @apply pl-4 pr-12 py-2;
}
