body {
    background-color: white;
}.wildtype-img{
    justify-content: center;
    align-items: center;
    display:flex;
    padding-top:20%;
}
img{
    transition: transform .2s;
    width:50px;
    height:50px;
    margin:0 auto;
    background-color: rgb(173, 173, 237);
    border-radius: 10px;
    border: 1px solid black;
}
img:hover{
    transform:scale(2.5);
}