

{% extends "layout/subpage.html" %}

{% block article_content %}
{{ heading("Wet Lab") }}
{{ subheading('Safety') }} 
{{ subsubheading('Lab Spaces') }}
<div>
  <p>
    For the safety of our team members, we ensure all experiments are performed in functional, appropriate, isolated and
    properly organized facilities.
  </p>
  <p>
    All our experiments are performed in a biosafety level 1 facility, with appropriate Personal Protective Equipment
    open to access. All our laboratory facilities are labelled and documented to the drawer, with proper labeling and
    segregation mechanisms in place.
  </p>
  <p>All wetlab members are required to undergo rigorous safety training. This includes:</p>
  <ol>
    <li>
      A 6 hour online module specifying all operational risks, safety, emergency situations, and proper lab attire
      during lab work in Biozone.
    </li>
    <li>A lab tour with the BIozone lab manager to ensure knowledge about emergency equipment.</li>
    <li>Equipment training with the lab technician to ensure operational knowledge on standard operating equipment.</li>
  </ol>
</div>
{{ subsubheading('Lab Bench - Room 403 of the Wallberg facility, Biozone') }}
<div  style="margin: auto; height: auto; width: 50%">
  {{ img(new_cdn("wetlab/p1.webp"), alt="We have a designated drawer for laboratory coats. They are accessible to all
  members working in the lab, and stored separately from chemicals or apparatus to prevent contamination.") }}
</div>
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-02-14.webp"), alt="All our drawers are labelled and designated for
  certain items. For example we have a drawer for stationery, sample kits, tube racks, pipettes etc. This allows neat
  inventorizing.") }}
</div>
<div style="margin: auto; height: auto; width: 50%">
  {{ img(new_cdn("wetlab/p5.webp"), alt="Old chemicals are stored separately on a rack to prevent mixup from new ones.")
  }}
</div>
<div style="margin: auto; height: auto; width: 50%">
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-06-13.webp"), alt="Solid and liquid waste are discarded into
  designated black bins and white containers. Biowaste, chemical waste, contaminated glassware are all discarded
  separately into different containers for proper disposal. These waste bins are emptied when 2/3 full every other day
  to prevent spillage.") }}
</div>
<div style="margin: auto; height: auto; width: 50%">
  {{ img(new_cdn("wetlab/p7.webp"), alt="We store lighter items such as pipette tips and racks on the top shelf, to
  reduce risk of falling as well as optimising space due to their stackable nature.") }}
</div>
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-07-36.webp"), alt="iGEM keeps its own reagents in this 4°C Fridge
  and -20°C Freezer. This prevents cross contamination from other lab users. All reagents are properly labelled.") }}
</div>
{{ subsubheading('WallBerg Building Room 301 - Biozone') }}
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-10-20.webp"), alt="Our -80°C freezer is located here. Since Biozone
  is a shared facility, all our boxes are labelled with a sticker and a barcode. Thermal gloves are provided by the
  facility to prevent freeze-burn.") }}
</div>
<div style="margin: auto; height: auto; width: 50%">
  {{ img(new_cdn("wetlab/p12.webp"), alt="Our large centrifuge is located here. We ensure appropriate rotor settings are
  being used.") }}
</div>
<div style="margin: auto; height: auto; width: 40%">
  {{ img(new_cdn("wetlab/p13.webp"), alt="Our incubator is located here. All our plates are properly labelled before
  being put inside to prevent mix up from other lab users. ") }}
</div>
{{ subsubheading('iGEM secondary working station - Wallberg Building Room 303 - Biozone') }}
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-16-17.webp"), alt="Storage Space: Our -20°C Freezer and extra 4°C
  fridge space are located in the room.") }}
</div>
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-18-15.webp"), alt="To prevent confusion, all our gel reagents and
  apparatus are located in the same room space.") }}
</div>
<div style="margin: auto; height: auto; width: 50%">
  {{ img(new_cdn("wetlab/p18.webp"), alt="Our nanodrop and gel visualizer machines are also located in the room.") }}
</div>
<div style="margin: auto; height: auto; width: 30%">
  {{ img(new_cdn("wetlab/p19.webp"), alt="Biozone stores all its plastic consumables such as pipette tips, Eppendorf
  tubes, serological pipettes and plates at the back wall of the room. ") }}
</div>
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-20-34.webp"), alt="The iGEM bunsen burner is located at the back of
  the room. The space is kept clear to prevent accidents. An extra gas valve is in place for safety.") }}
</div>
<div>
  {{ img(new_cdn("wetlab/screenshot-2024-10-01-at-08-21-35.webp"), alt="The room consists of 2 benchtop centrifuges,
  thermocyclers and water baths for experimental use.") }}
</div>
{{ subsubheading('Risks and Risk Management') }}
<div>
  <p>
    <b>Human Health/Safety Factors - Lab Members :</b><br />
    iGEM Toronto prides itself in involving both experienced and new researchers into collaborating to create impactful
    and meaningful synthetic biology projects. As a group of undergraduates, some of our members do not have prior wet
    lab experience. Therefore, proper training, lab safety, abiding to EHS regulations and sufficient understanding of
    experimental procedures must be implemented before experiments are allowed to proceed. Furthermore, biologicals and
    chemicals are invaluable resources. Proper coordination and inventorization measures must take place for a large
    group of students to seamlessly carry on from previous experiments without generating extra waste.
  </p>
  <p>
    We have been in touch with Endang Susilawati – the lab manager for our lab space and a member of the biosafety
    council from the University of Toronto’s Department of Chemical Engineering. WHMIS guidelines and the
    <a href="https://ehs.utoronto.ca/" target="_blank">University of Toronto’s Health and Safety committee</a> govern our work.
  </p>
  <p>
    The list of safety measures taken to ensure lab member’s individual safety as well as proper training are attached
    in the table below:
  </p>
</div>
{{ subsubheading('Human Factors - Risk') }}
<div class="w-full overflow-auto">
  <table class="entrepreneurship">
    <tr>
      <th>Risk</th>
      <th>Hazard</th>
      <th>Stakeholder(s)</th>
      <th>Safety Measures Implemented</th>
    </tr>
    <tr>
      <td>Lab members lack of knowledge on experimental safety and protocol</td>
      <td>
        Misuse of apparatus, causing apparatus breakage and more importantly damage or injury to the individual and
        surrounding team members
      </td>
      <td>Biozone, iGEM members</td>
      <td>
        <p>
          All iGEM members must complete a <b>laboratory safety course CHE Summer Training, EHS policy course </b>
          <a href="https://www.utsc.utoronto.ca/ehs/ehs-101-whmis-lab-safety" target="_blank">EHS101</a>,
          <b>EHS102 and a Biosafety course </b><a href="https://www.utsc.utoronto.ca/ehs/ehs-601-biosafety" target="_blank">EHS601</a>
          provided by the University of Toronto's Department of Chemical Engineering. A safety orientation covering lab
          access and rules, biosafety equipment and differences, aseptic technique, proper disinfection and
          sterilisation methods, emergency procedures, rules for sample transport in open and closed spaces, physical
          and personnel biosecurity, proper use of equipment and chemical, fire and electrical safety are required.
        </p>
        <p>
          All iGEM members must INDIVIDUALLY file a Research Registration Form. This form requires individuals to attach
          experimental protocol, safety measures and research the MSDS of all chemicals and biologicals that are
          involved. The form is later reviewed by the University of Toronto's Health and Safety department for approval.
          A one-on-one interview with our primary supervisor is also required where members are tested about
          experimental procedures and lab safety to ensure all members are up to speed. iGEM Toronto also provides its
          wet lab members a set of master protocol including proper waste disposal procedures, and experimental methods
          to prevent confusion.
        </p>
      </td>
    </tr>
    <tr>
      <td>Lab members inability to obtain PPE</td>
      <td>Spillage or exposure leading to injury and infection on surrounding team members and wet lab member</td>
      <td>Biozone lab users, iGEM members</td>
      <td>
        iGEM keeps its own set of PPE in a drawer in room 403 (see table for iGEM main bench). Lab coats, safety gloves,
        safety glasses and goggles are provided by biozone. Lab members are not allowed to enter a facility without
        wearing proper PPE
      </td>
    </tr>
    <tr>
      <td>Mixup and confusion between lab shifts</td>
      <td>Waste of chemicals, iGEM equipment being scattered all over the place</td>
      <td>Biozone lab users, iGEM members</td>
      <td>
        To prevent mixup and confusion between lab shifts causing excessive chemicals to be generated and reagents being
        left all over the place, all wet lab members must include the storage location and detailed lab notes for every
        shift. This includes photos of the storage space of new chemicals/biologicals and experiments conducted to
        prevent redundancy. Our Protocol Police division is implemented to check lab notes every shift to ensure members
        have taken part into proper inventory procedures.
      </td>
    </tr>
    <tr>
      <td>Improper treatment of chemical/biological waste</td>
      <td>Environmental release</td>
      <td>Neighbouring water bodies (Lake Ontario), Biozone drainage system</td>
      <td>
        The safety orientation, department provided training and RRF include proper disposal methods of all waste. All
        level 1 biologicals are required to be autoclaved before disposal down the sink. Chemical waste must be properly
        labelled with a container stipulating the type, and is stored properly until 2/3 full then sent to the
        department of Chemical Engineering's waste treatment facility to be further processed.
      </td>
    </tr>
    <tr>
      <td>Lab members inexperience in using new equipment</td>
      <td>Injury, breakage of apparatus</td>
      <td>Biozone staff, lab users, iGEM members</td>
      <td>
        To reduce inexperience and prevent misconceptions on equipment usage, our Biozone lab manager and technicians
        organized an equipment training tour to teach iGEM students how to use common equipment such as the autoclave
        and the centrifuge. Biozone also organized an orientation to reinforce lab safety and procedures. All students
        must participate in the training before allowed entry to lab facilities.
      </td>
    </tr>
    <tr>
      <td>Irresponsible use of equipment</td>
      <td>Injury, breakage, inconvenience to other lab members</td>
      <td>Biozone lab users, iGEM members</td>
      <td>
        iGEM members must show consideration and responsibility to other lab users and their needs. This includes owning
        up to mistakes and proper usage of facilities in a shared lab space such as Biozone. All iGEM members are
        required to book equipment on the Biozone Calendar portal and adhere strictly to the time frame to prevent
        interfering with other people's experiments.
      </td>
    </tr>
  </table>
</div>
{{ subsubheading('Anticipating Future Risk') }}
<div>
  <p>
    In this project, wetlab validates the dry lab sequences generated. Novel <i>oriV</i>s should not confer hazardous 
    functionality to E. <i>coli</i> DH5a cells.
  </p>
  <p>
    The main risk of our technology is potential misuse of our language model and the uncontrolled development of our
    language model generating unforeseen and potentially hazardous sequences. Currently in our experimental procedures,
    We define risk as a combination of <b>vulnerability, magnitude of hazard</b> and <b>exposure</b>, and our hardware team has been
    working on methods to reduce vulnerability and exposure.
  </p>
  <p>
    <u><b>Vulnerability</b></u><br>
    Wetlab ensures all members are dressed in appropriate personal protection equipment (PPE), and all reagents are
    contained in the lab. Handwashing procedures are mandated, and sick members are not allowed into the lab to reduce
    vulnerability.
  </p>
  <p>
    <u><b>Exposure</b></u><br>
    Our <b>hardware team</b> is working on a <b>colony counter</b> and <b>RFID chip</b> to automate colony counting and
    allow better inventorization of chemicals. In our workflows, validation of plasmids are performed through observing
    and counting colonies. An automated method of validation reduces the need of human exposure to bacteria containing
    novel sequences. The RFID chip also reduces human exposure inventorization of chemicals and provides a thorough
    tracking mechanism - allowing easier root cause identification and chemical location should errors occur. These
    processes reduce exposure, preventing potential containment breaches and consequently, risk.
  </p>
</div>
{% endblock %}
